<div class="row">
    <div class="col-md-12 valoresCentrados title">
        <h5>
            Datos de la solicitud
            <button type="button" class="btn btn-link btn-title" (click)="mostrarDetalle()" data-toggle="tooltip" data-placement="top" title="Ver detalle">
                <i class="bi bi-caret-left-fill" *ngIf=" showDetalleSolicitud"></i>
                <i class="bi bi-caret-right-fill" *ngIf="! showDetalleSolicitud"></i>
            </button>
        </h5>
    </div>
    <div class="col-sm-6">
        <label for="id" class="form-label">ID:&nbsp;</label>
        <span>{{ datosSolicitud.id }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="ano" class="form-label">Año:&nbsp;</label>
        <span> {{ datosSolicitud.ano }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="num_solicitud" class="form-label">Núm. de Solicitud:&nbsp;</label>
        <span>{{ datosSolicitud.num_solicitud }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="turno" class="form-label">Turno:&nbsp;</label>
        <span>{{ datosSolicitud.turno }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="debi" class="form-label">DEBI:&nbsp;</label>
        <span>{{ datosSolicitud.debi }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="cabi" class="form-label">CABI:&nbsp;</label>
        <span>{{ datosSolicitud.cabi }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="num_oficio" class="form-label">No. Oficio:&nbsp;</label>
        <span>{{ datosSolicitud.num_oficio }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="f_oficio" class="form-label">Fecha oficio:&nbsp;</label>
        <span>{{ datosSolicitud.f_oficio }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="f_recepcion_partes" class="form-label">Fecha Recepción O. PARTES:&nbsp;</label>
        <span>{{ datosSolicitud.f_recepcion_partes }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="f_recepcion_atbad" class="form-label">Fecha Recepción ATBAD:&nbsp;</label>
        <span>{{ datosSolicitud.f_recepcion_atbad }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="f_recepcion_dr" class="form-label">Fecha Recepción D. R.:&nbsp;</label>
        <span> {{datosSolicitud.f_recepcion_dr}} </span>
    </div>
    <div class="col-sm-6  ">
        <label for="solicitante" class="form-label">Solicitante:&nbsp;</label>
        <span> {{datosSolicitud.solicitante}} </span>
    </div>
    <div class="col-sm-6  ">
        <label for="rep_legal" class="form-label">Representante legal:&nbsp;</label>
        <span> {{datosSolicitud.rep_legal}} </span>
    </div>
    <div class="col-sm-6  ">
        <label for="cargo" class="form-label">Cargo:&nbsp;</label>
        <span> {{datosSolicitud.cargo}} </span>
    </div>
    <div class="col-sm-6  ">
        <label for="telefono" class="form-label">Teléfono:&nbsp;</label>
        <span> {{datosSolicitud.telefono}} </span>
    </div>
    <div class="col-sm-6  ">
        <label for="correo" class="form-label">Correo:&nbsp;</label>
        <span> {{datosSolicitud.correo}} </span>
    </div>
    <div class="col-sm-6  ">
        <label for="t_remitente" class="form-label">Tipo Remitente:&nbsp;</label>
        <span> {{datosSolicitud.t_remitente}} </span>
    </div>
    <div class="col-sm-6  ">
        <label for="via_solicitud" class="form-label">Vía de la Solicitud:&nbsp;</label>
        <span> {{datosSolicitud.via_solicitud}} </span>
    </div>
    <hr>
    <div class="col-sm-12">
        <h5>
            Observaciones:
        </h5>
        <p>
            Para procesar su solicitud atienda los cambios que se solicitan.
        </p>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showDetalleSolicitud" [class.bajar]="showDocumento" ngtabindex="-1" id="offcanvasSolicitud" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Detalle Solicitud</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('detalle')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">
                        <div class="col-sm-12 row">
                            <div class="col-md-12" style="text-align: center;">
                                <label class="valoresCentrados form-label">
                                    I. Datos de la persona física solicitante
                                </label>
                            </div>
                            <hr>
                        </div>

                        <div class="col-md-12">
                            <label for="nombre" class="form-label">RFC:</label>
                            <span> PERJ920701AB1</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <span> Juan</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">CURP:</label>
                            <span> PEGJ920701HDFRRR00</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Apellido paterno:</label>
                            <span> Pérez</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Apellido materno:</label>
                            <span> Garcia</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Nacionalídad:</label>
                            <span> Mexicana</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Fecha de Nacimiento:</label>
                            <span> 01/07/1992</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Lugar de Nacimiento:</label>
                            <span> Ciudad de México</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Teléfono fijo:</label>
                            <span> (55) 1234-5678</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Teléfono móvil:</label>
                            <span> 55-9876-5432</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Correo electrónico:</label>
                            <span> juan.perez@example.com</span>
                        </div>

                        <div class="col-sm-12 row">
                            <div class="col-md-12" style="text-align: center; margin: 13px 0px 0px 0px;">
                                <label class="valoresCentrados form-label">
                                    II. Domicilio Particular
                                </label>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">CP:</label>
                            <span> 67890</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Estado:</label>
                            <span> CDMX</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Alcaldía o Municipio:</label>
                            <span> Ciudad de México</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Colonia:</label>
                            <span> Benito Juárez</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Calle:</label>
                            <span> Calle de la Rosa</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">No. Exterior:</label>
                            <span> 123</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">No. Interior:</label>
                            <span> 4B</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Entre calles:</label>
                            <span> Francisco I. Madero y Emiliano Zapata</span>
                        </div>

                        <div class="col-sm-12 row">
                            <div class="col-md-12" style="text-align: center; margin: 13px 0px 0px 0px;">
                                <label class="valoresCentrados form-label">
                                    III. Datos del bien solicitado
                                </label>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Número de registro insitucional:</label>
                            <span> 2364747324</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Tipo de bien:</label>
                            <span> Inmueble</span>
                        </div>

                        <div class="col-sm-12 row">
                            <div class="col-md-12" style="text-align: center; margin: 13px 0px 0px 0px;">
                                <label class="valoresCentrados form-label">
                                    Ubicación del bien
                                </label>
                            </div>
                            <!-- <hr> -->
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Estado:</label>
                            <span> CDMX</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Alcaldía o Municipio::</label>
                            <span> Ciudad de México</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Colonia:</label>
                            <span> Benito Juárez</span>
                        </div>

                        <div class="col-sm-12 row">
                            <div class="col-md-12" style="text-align: center; margin: 13px 0px 0px 0px;">
                                <label class="valoresCentrados form-label">
                                    Datos del bien
                                </label>
                                <!-- <hr> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Descripción y características del bien
                                requerido:</label>
                            <span> Datosdelbienw6564867486854878676846845648968</span>
                        </div>

                        <div class="col-sm-12 row">
                            <div class="col-md-12" style="text-align: center; margin: 13px 0px 0px 0px;">
                                <label class="valoresCentrados form-label">
                                    IV. Datos para el uso del bien
                                </label>
                                <hr>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="nombre" class="form-label">Justificación que se le dara al bien:</label>
                        </div>

                        <div class="col-md-12">
                            <span> Favor de indicar en las siguientes la justificación del uso que pretende dar al Bien
                                que
                                solicita</span>
                        </div>


                        <div class="col-sm-12 row">
                            <div class="col-md-12" style="text-align: center; margin: 13px 0px 0px 0px;">
                                <label class="valoresCentrados form-label">
                                    Domicilio Fiscal
                                </label>
                            </div>
                            <!-- <hr> -->
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">CP:</label>
                            <span> 67890</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Estado:</label>
                            <span> CDMX</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Alcaldía o Municipio::</label>
                            <span> Ciudad de México</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Colonia:</label>
                            <span> Benito Juárez</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Calle:</label>
                            <span> Calle de la Rosa</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">No. Exterior:</label>
                            <span> 123</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">No. Interior:</label>
                            <span> 4B</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Entre calles:</label>
                            <span> Francisco I. Madero y Emiliano Zapata</span>
                        </div>

                        <div class="col-md-12" style="text-align: center; margin: 13px 0px 0px 0px;">
                            <p>
                                Bajo protesta de decir verdad, manifiesto que la información aqui declarada es verdadera
                                y
                                fiel
                            </p>
                            <p style="margin: 200px 0px 0px 0px;">
                                Firma del Solicitante
                            </p>
                        </div>

                        <div class="col-sm-12 row">
                            <div class="col-md-12" style="text-align: center; margin: 13px 0px 0px 0px;">
                                <label class="valoresCentrados form-label">
                                    V. Archivos adjuntos a la presente solicitud los siguientes:
                                </label>
                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr class="table-secondary">
                                    <th style="width: 70%;">Documentos</th>
                                    <th style="width: 30%;" class="valoresCentrados">Visualización</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let documento of documentos">
                                    <td>{{documento.file_name}}</td>
                                    <td class="valoresCentrados">
                                        <button type="button" class="btn btn-link" value="conSearch" title="Ver" (click)="verDocumento(documento.file_name)" >
                                            <i class="bi bi-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">

        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showDocumento" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>{{ nombreDocumento}}</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('documento')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <!-- <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">

        </div>
    </div>
</div>


<div class="offcanvas-backdrop fade show" *ngIf=" showDetalleSolicitud"></div>

<div class="offcanvas-backdrop fade show" *ngIf="showDocumento"></div>
