<div class="row">
    <div class="col-md-12 valoresCentrados title">
        <h5>
            Validación de Registro de Propuesta
            <!---
            <button type="button" class="btn btn-link btn-title" (click)="mostrarDetalle()" data-toggle="tooltip" data-placement="top" title="Ver detalle">
           
                <i class="bi bi-caret-left-fill" *ngIf=" showDetallePropuesta"></i>
                <i class="bi bi-caret-right-fill" *ngIf="! showDetallePropuesta"></i>
            </button>
            ---->
        </h5>
    </div>
    <div class="col-sm-6">
        <h3><span> Propuesta {{ datosPropuesta.IdPropuesta }}</span></h3>
        <h3><span>{{ datosPropuesta.RemitentePro }}</span></h3>
    </div>
    <div class="col-sm-6  ">
        <label for="pagoCompra" class="form-label">Pago o Compra&nbsp;</label>
        <span> {{ datosPropuesta.pagoCompra }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="fechaRecepcion" class="form-label">Fecha de recepcion en el INDEP&nbsp;</label>
        <span>{{ datosPropuesta.fechaRecepcion}}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="IdAcreditado" class="form-label">Id&nbsp;</label>
        <span>{{ datosPropuesta.IdAcreditado}}</span>
        <br>
        <label for="remitentePro" class="form-label">Remitente propuesta:&nbsp;</label>
        <span>{{ datosPropuesta.RemitentePro }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="fechaPropuesta" class="form-label">Fecha recepción de coordinación de recuperación de cartera y activos&nbsp;</label>
        <span>{{ datosPropuesta.fechaPropuesta }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="montoletraMXN" class="form-label">Monto de propuesta con letra pesos&nbsp;</label>
        <span>{{ datosPropuesta.montoletraMXN }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="fechaDocumentos" class="form-label">Fecha del documento&nbsp;</label>
        <span>{{ datosPropuesta.fechaDocumentos }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="montoletraUSD" class="form-label">Monto propuesta con letra dólares&nbsp;</label>
        <span>{{ datosPropuesta.montoletraUSD }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="tipoCartera" class="form-label">Tipo cartera automatico del acreditado&nbsp;</label>
        <span>{{ datosPropuesta.tipoCartera }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="plazaSoli" class="form-label">Plazo solicitado&nbsp;</label>
        <span>{{ datosPropuesta.plazaSoli }}</span>
    </div>
    <div class="col-sm-6  ">
        <label for="montoMXN" class="form-label">Monto propuesta pesos&nbsp;</label>
        <span> {{datosPropuesta.montoMXN}} </span>
    </div>
    <div class="col-sm-6  ">
        <label for="NumVolante" class="form-label">Númenro de volante&nbsp;</label>
        <span> {{datosPropuesta.NumVolante}} </span>
    </div>
    <div class="col-sm-6  ">
        <label for="montoUSD" class="form-label">Monto propuesta dólares&nbsp;</label>
        <span> {{datosPropuesta.montoUSD}} </span>
    </div>
    <div class="col-sm-6">
        <label for="capturo" class="control-label">Capturó:</label>
        <label id="capturo" class="control-label">Andrea Villavicencio</label>
        <br>
        <label for="fecha" class="control-label">Fecha:</label>
        <label id="fecha" class="control-label">22/02/2023</label>
        <br>
        <label for="hora" class="control-label">Hora:</label>
        <label id="hora" class="control-label">12:23:34</label>
    </div>
    <hr>
    <div class="col-sm-12">
        <h5>
            Observaciones:
        </h5>
        <p>
            Documentación completa
        </p>
    </div>
</div>