<div class="row">
  <div class="col-sm-12">
    <h1>Estados de Cuenta</h1>
    <hr class="red">
  </div>

  <div class="card p-0">
    <div class="card-header row" style="margin: 0px;">
      <div class="col-sm-3">
        <label for="busqueda" class="control-label">Búsqueda</label>
        <input type="text" class="form-control" id="busqueda" placeholder="Fecha inicial / Fecha final">
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary" value="conSearch" style="margin-top: 31px;">Buscar</button>
      </div>

    </div>
    <div class="col-md-12 contenido" *ngIf="accionDetalle == 1">
      <div class="card-body">
        <div class="row mb-2">
        </div>

        <div class="row">
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Enviar</th>
                  <th>Depositario</th>
                  <th>Bien</th>
                  <th>Fecha Valor</th>
                  <th>Referencia de cliente</th>
                  <th>Importe de crédito</th>
                  <th>Descripción</th>
                  <th>Referencia correjida</th>
                  <th>Nombramiento</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tablaEstadoCuenta" [ngClass]="item.activo ?'table-success' : ''">
                  <th>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                  </th>
                  <th>{{ item.depositario }}</th>
                  <th>{{ item.bien }}</th>
                  <th>{{ item.fecha }}</th>
                  <th>{{ item.referencia }}</th>
                  <th>{{ item.importe }}</th>
                  <th>{{ item.descripcion }}</th>
                  <th>
                      <input type="text" class="form-control" id="busqueda" placeholder="Referencia correjida">
                  </th>
                  <th>{{ item.nombramiento }}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <button class="btn btn-primary boton-derecho" (click)="enviar()" >Enviar a SIB</button>
  </div>
</div>
