<div class="row">
    <div class="col-md-12">
        <div class="col-sm-12">
            <div class="card" style="padding: 5px;">
                <div class="card-body row" style="padding: 15px 15px;">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 1"
                                (click)="cambioAccionDetalle(1)">Detalle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 2" (click)="cambioAccionDetalle(2)">
                                Anexos </a>
                        </li>
                    </ul>

                    <div class="row" *ngIf="accionDetalle == 1" style="margin-top: 15px;">
                        <sg-detalle-solicitud [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-solicitud>
                        <sg-detalle-prevalidacion [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-prevalidacion>
                        <sg-detalle-bien [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-bien>
                        <sg-detalle-opinion-tenica [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-opinion-tenica>
                        <sg-detalle-nombramiento [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-nombramiento>
                        <sg-detalle-entrega-bien [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-entrega-bien>
                    </div>
                    <div class="row" class="mt-2" *ngIf="accionDetalle == 2" style="margin-top: 15px;">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-secondary">
                                    <th style="width: 5%;">#</th>
                                    <th style="width: 35%;">Tipo Documento</th>
                                    <th style="width: 30;">Tipo de firma</th>
                                    <th style="width: 30%;" class="valoresCentrados">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Oficio de acta de entrega recepción</td>
                                    <td>Electrónica</td>
                                    <td class="valoresCentrados">
                                        <button class="btn btn-link" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Firmar" title="Firmar" (click)="openFirma()">
                                            <i class="bi bi-laptop"></i>
                                        </button>
                                        <button class="btn btn-link" (click)="abrirPdf()" title="Ver">
                                            <i class="bi bi-eye"></i>
                                        </button>
                                        <button class="btn btn-link"
                                            (click)="descargarDocumento('Oficio de acta de entrega recepción')"
                                            title="Descargar">
                                            <i class="bi bi-download"></i>
                                        </button>
                                        <button class="btn btn-link"
                                            (click)="cargarDocumento('Oficio de acta de entrega recepción', 'cargarDocumento')"
                                            title="Cargar documento">
                                            <i class="bi bi-upload"></i>
                                        </button>
                                        <button class="btn btn-link" (click)="eliminarDocumento('Oficio de acta de entrega recepción')"
                                            title="Eliminar">
                                            <i class="bi bi-x-circle"></i>
                                        </button>

                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal observaciones -->
<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showObs" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-body">
        <h1>{{tituloObs}}</h1>
        <hr class="red" />
        <div class="col-sm-12">
            <label for="obs" class="form-label">Observaciones</label>
            <textarea class="form-control" id="obs" rows="6"></textarea>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal" (click)="cerrarCamvasObsConfirmar()">Aceptar &nbsp; <em
                    class="bi bi-check-lg"></em> </button> &nbsp;
            <button type="button" class="btn btn-negativo-modal" (click)="cerrarCamvasObs()">Cancelar &nbsp; <em
                    class="bi bi-backspace"></em> </button> &nbsp;
        </div>
    </div>
</div>

<!-- Modal firma -->
<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showFirma" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Firma</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarFirma()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-sm-12 row" [formGroup]="FormularioConfirma">
                <div class="col-sm-8">
                    <label for="cert" class="control-label">Certificado (.cer):</label>
                    <div class="input-group">
                        <label for="cert" class="control-label" style="display: none">Certificado (.cer):</label>
                        <input class="form-control" type="text" placeholder="Ubicación del certificado" name="cert"
                            id="cert" size="25" readonly="readonly" value="{{certFileName}}" disabled>
                        <label for="fileCertificate" class="control-label" style="display: none">Certificado
                            (.cer):</label>
                        <input type="file" style="display: none" id="fileCertificate" accept=".cer"
                            (change)="onCertFileChange($event)" formControlName="key">
                        <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnCertificate" name="btnCertificate"
                                onclick="document.getElementById('fileCertificate').click();">Buscar</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <label for="key" class="control-label">Clave privada (.key):</label>
                    <div class="input-group">
                        <label for="key" class="control-label" style="display: none">Clave privada (.key):</label>
                        <input class="form-control" type="text" placeholder="Ubicación de la llave privada" name="key"
                            id="key" size="25" readonly="readonly" value="{{keyFileName}}" disabled>
                        <label for="filePrivateKey" class="control-label" style="display: none">Clave privada
                            (.key):</label>
                        <input type="file" style="display: none" id="filePrivateKey" accept=".key"
                            (change)="onKeyFileChange($event)" formControlName="cer">
                        <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnPrivateKey" name="btnPrivateKey"
                                onclick="document.getElementById('filePrivateKey').click();">Buscar</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <label for="contra" class="control-label">Contraseña de clave privada:</label>
                    <input type="password" class="form-control" id="contra" placeholder="Contraseña"
                        formControlName="contra">
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal" (click)="firmar()">Firmar &nbsp; <em
                    class="bi bi-check-lg"></em> </button> &nbsp;
        </div>
    </div>
</div>

<!-- Modal vista previa -->
<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showDetalle" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Vista previa</h1>

        <div>
            <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
                (click)="cerrarDetalle()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
        </div>

    </div>
    <div class="offcanvas-body">
        <div class="row" *ngIf="tipoModal === 'verDocumento'">
            <p>Documento</p>

        </div>

        <div class="row" *ngIf="tipoModal === 'cargarDocumento'">
            <div class="col-sm-12">
                <label for="formFile" class="form-label"><i class="bi bi-upload"></i></label>
                <input class="form-control" type="file" id="formFile">

            </div>
        </div>

    </div>

</div>

<!-- Modal carga documento -->
<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showCargaDocumento" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1 style="visibility: hidden;">Titulo</h1>

        <button type="button" class="btn btn-negativo-modal boton-derecho" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCargaDocumentos()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-sm-12">
                <!-- <label for="formFile" class="form-label"><em class="bi bi-upload"></em></label> -->
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>

    </div>

    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal" (click)="uploadDocumento()">&nbsp; <em class="bi bi-check-lg"></em> Subir
                </button> &nbsp;
        </div>

    </div>

</div>
<div class="offcanvas-backdrop fade show" *ngIf="showObs || showFirma"></div>