<div class="col-sm-12">
  <div class="card">
      <div class="card-body row" style="padding: 0px 5px;">
          <div class="col-sm-3">
              <label for="busqueda" class="form-label">Búsqueda</label>
              <input type="text" class="form-control" id="busqueda" placeholder="Búsqueda">
          </div>
          <div class="col-sm-2">
            <li class="nav-item dropdown margin" (click)="showDropdownBienesSusceptibles()" (mouseleave)="hideDropdownBienesSusceptibles()">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tipo de Bitácora
                  </a>
                  <ul class="dropdown-menu" [class.show]="isDropdownBienesSusceptibles">
                    <li><a class="dropdown-item" routerLink="">Catálogo 1</a></li>
                    <li><a class="dropdown-item" routerLink="">Catálogo 2</a></li>
                    <li><a class="dropdown-item" routerLink="">Catálogo 3</a></li>
                  </ul>
            </li>
          </div>

          <div class="col-sm-5">
              <button class="btn btn-primary" title="Buscar" style="margin-top: 32px;"
                  (click)="cambioSeleccion(1)">
                  <em class="bi bi-search"></em>
              </button>
          </div>
          <div class="col-sm-2 text-end">
              <button class="btn btn-light" title="Buscar" style="margin-top: 32px;" (click)="cambioTipoVista()"
                  [title]=" tipoVista ? 'Cambiar a vista terjetas' : 'Cambiar a vista de lista' ">
                  <em style="font-size: 20px;" [ngClass]="tipoVista ? 'bi bi-list-task' : 'bi bi-card-text'"></em>
              </button>
          </div>
      </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="col-sm-12" *ngIf="tipoVista">
    <div class="col-sm-12 scroll-tabla" data-testid="edosTable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 10%;">Catalogo</th>
            <th style="width: 30%;">Solicitante</th>
            <th style="width: 25%;">Pais</th>
            <th style="width: 10%;">Fecha</th>
            <th style="width: 10%;">Proceso</th>
            <th style="width: 15%;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of administracion">
            <th>{{ item.catalogo }}</th>
            <th>{{ item.solicitante }} </th>
            <th>{{ item.pais }} </th>
            <th>{{ item.fecha }} </th>
            <th>{{ item.proceso }} </th>
            <th>
            <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
              data-placement="top" title="Ver"
              (click)="openVistaPrevia(item.id, '', item.descripcion)">
              <em style="color: blue;" class="bi bi-eye"></em>
            </button>
            <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
              data-placement="top" title="Actualizar"
              (click)="openVistaPrevia(item.id, 'pendientes', item.descripcion)">
              <em style="color: blue;" class="bi bi-arrow-clockwise"></em>
            </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>
