<div class="col-sm-12">
    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-12">                                   
                    
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="accionDetalle == 1"
                            (click)="cambioAccionDetalle(1)">Documentación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="accionDetalle == 2"
                            (click)="cambioAccionDetalle(2)">Anexos</a>
                    </li>
                </ul>
                <br />             
                <div class="row" *ngIf="accionDetalle == 1" style="margin-top: 15px;">

                    <div class="card-body">
                        <div class="row">
                            <table class="table table-striped">
                            <thead>
                                <tr>
                                <th>Documento</th>
                                <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataDocumentos">
                                <td>{{item.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                                        data-placement="top" title="Vista previa"
                                        (click)="openVistaPreviaDocumento('documento', 'verDocumento')">
                                        <em style="color: blue;" class="bi bi-eye"></em>
                                    </button>
                                    <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                                        data-placement="top" title="Descargar"
                                        (click)="descargasArchivos('documento')">
                                        <em style="color: blue;" class="bi bi-box-arrow-in-down"></em>
                                    </button>
                                    <button class="btn btn-link"
                                        (click)="agregarDocumento()"
                                        title="Cargar documento">
                                        <i class="bi bi-upload"></i>
                                    </button>
                                    <button class="btn btn-link"
                                        (click)="sustituirDocumento()"
                                        title="Sustituir documento">
                                        <i class="bi bi-upload"></i>
                                    </button>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                            
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="obs" class="form-label">Observaciones</label>
                            <textarea class="form-control" id="obs" rows="6"></textarea>
                        </div>
                    </div>                   
                </div>

                <div class="row" *ngIf="accionDetalle == 2" style="margin-top: 15px;">

                    <div class="card-body">
                        <div class="row">
                            <table class="table table-striped">
                            <thead>
                                <tr>
                                <th>Documento</th>
                                <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataAnexos">
                                <td>{{item.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                                        data-placement="top" title="Vista previa"
                                        (click)="openVistaPreviaAnexo('anexo', 'verAnexo')">
                                        <em style="color: blue;" class="bi bi-eye"></em>
                                    </button>
                                    <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                                        data-placement="top" title="Descargar"
                                        (click)="descargasArchivos('anexo')">
                                        <em style="color: blue;" class="bi bi-box-arrow-in-down"></em>
                                    </button>
                                    <button class="btn btn-link"
                                        (click)="agregarAnexo()"
                                        title="Cargar anexo">
                                        <i class="bi bi-upload"></i>
                                    </button>
                                    <button class="btn btn-link"
                                        (click)="sustituirAnexo()"
                                        title="Sustituir anexo">
                                        <i class="bi bi-upload"></i>
                                    </button>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                            
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="obs" class="form-label">Observaciones</label>
                            <textarea class="form-control" id="obs" rows="6"></textarea>
                        </div>
                    </div>                    
                </div>

            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showAgregarDocumento" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Cargar documento</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('documento')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="row">                 
                <div class="card-body row" style="padding: 15px 15px;">                
                    <div class="col-md-6">
                        <label for="documento" class="control-label">Cargar documento</label>
                        <div class="input-group">
                            <label for="documento" class="control-label" style="display: none" >Cargar documento</label>
                            <input class="form-control" type="text" placeholder="Ubicación del documento" name="documento" id="documento" size="25" readonly="readonly" value="{{documentoFileName}}" disabled>
                            <label for="fileDocumento" class="control-label" style="display: none" >Cargar documento</label>
                            <input type="file" style="display: none" id="fileDocumento" accept=".pdf" (change)="onDocumentoFileChange($event)" formControlName="key">
                            <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnDocumento" name="btnDocumento" onclick="document.getElementById('fileDocumento').click();">Buscar</button>
                            </span>
                        </div> 
                    </div>

                    <!--<div class="col-md-6">
                        <label for="nombre" class="form-label">Previsualizar:</label>
                        <div class="input-group">
                            <button class="btn btn-link" (click)="previsualizarDocumento()" title="Ver">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div> 
                    </div>-->
                    <div class="col-sm-12">
                        <pdf-viewer [src]="pdfSrcDocumento" [render-text]="true" [original-size]="false"
                                style="width: 700px; height: 100vh;"></pdf-viewer>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">
            <div class="text-end">
                <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="guardarDocumento('cargarDocumento')">
                    Guardar
                  </button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showAgregarAnexo" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Cargar anexo</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('showAgregarAnexo')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="row">                 
                <div class="card-body row" style="padding: 15px 15px;">                
                    <div class="col-md-6">
                        <label for="anexo" class="control-label">Cargar anexo</label>
                        <div class="input-group">
                            <label for="anexo" class="control-label" style="display: none" >Cargar anexo</label>
                            <input class="form-control" type="text" placeholder="Ubicación del anexo" name="anexo" id="anexo" size="25" readonly="readonly" value="{{anexoFileName}}" disabled>
                            <label for="fileAnexo" class="control-label" style="display: none" >Cargar anexo</label>
                            <input type="file" style="display: none" id="fileAnexo" accept=".pdf" (change)="onAnexoFileChange($event)" formControlName="key">
                            <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnAnexo" name="btnAnexo" onclick="document.getElementById('fileAnexo').click();">Buscar</button>
                            </span>
                        </div> 
                    </div>

                    <!--<div class="col-md-6">
                        <label for="nombre" class="form-label">Previsualizar:</label>
                        <div class="input-group">
                            <button class="btn btn-link" (click)="previsualizarAnexo()" title="Ver">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div> 
                    </div>-->

                    <div class="col-sm-12">
                        <pdf-viewer [src]="pdfSrcAnexo" [render-text]="true" [original-size]="false"
                                style="width: 700px; height: 100vh;"></pdf-viewer>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">
            <div class="text-end">
                <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="guardarAnexo('guardarAnexo')">
                    Guardar
                  </button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showGenerarOficio" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Generar oficio</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('oficio')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-md-12">
            <div class="col-sm-12">
                <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" [class.active]="accionDetalle == 3"
                                    (click)="cambioAccionDetalle(3)">Oficio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [class.active]="accionDetalle == 4" (click)="cambioAccionDetalle(4)">
                                    Recordatorio </a>
                            </li>
                        </ul>

                        <div class="row" *ngIf="accionDetalle == 3" style="margin-top: 15px;">
                            <div class="col-sm-12">
                                <label for="detalleOficio" class="form-label">Detalle oficio</label>
                                <textarea class="form-control" id="detalleOficio" rows="6"></textarea>
                            </div>
                        </div>

                        <div class="row" *ngIf="accionDetalle == 4" style="margin-top: 15px;">
                            <div class="col-sm-12">
                                <label for="detalleRecordatorio" class="form-label">Detalle recordatorio</label>
                                <textarea class="form-control" id="detalleRecordatorio" rows="6"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          </div>
    </div>

    <div class="offcanvas-footer">    
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="guardarOficio()">
                Guardar
              </button>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="prevDocumento" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Previsualización del documento</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('prevDocumento')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <!-- <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">

        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="prevAnexo" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Previsualización del anexo</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('prevAnexo')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
                    style="width: 700px; height: 100vh;"></pdf-viewer>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">

        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showSustituirDocumento" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Sustituir documento</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('sustituirDocumento')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="row">                 
                <div class="card-body row" style="padding: 15px 15px;">                
                    <div class="col-md-6">
                        <label for="documento" class="control-label">Cargar documento</label>
                        <div class="input-group">
                            <label for="documento" class="control-label" style="display: none" >Cargar documento</label>
                            <input class="form-control" type="text" placeholder="Ubicación del documento" name="documento" id="documento" size="25" readonly="readonly" value="{{documentoFileName}}" disabled>
                            <label for="fileDocumento" class="control-label" style="display: none" >Cargar documento</label>
                            <input type="file" style="display: none" id="fileDocumento" accept=".pdf" (change)="onDocumentoFileChange($event)" formControlName="key">
                            <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnDocumento" name="btnDocumento" onclick="document.getElementById('fileDocumento').click();">Buscar</button>
                            </span>
                        </div> 
                    </div>

                    <!--<div class="col-md-6">
                        <label for="nombre" class="form-label">Previsualizar:</label>
                        <div class="input-group">
                            <button class="btn btn-link" (click)="previsualizarDocumento()" title="Ver">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div> 
                    </div>-->
                    <div class="col-sm-12">
                        <pdf-viewer [src]="pdfSrcDocumento" [render-text]="true" [original-size]="false"
                                style="width: 700px; height: 100vh;"></pdf-viewer>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">
            <div class="text-end">
                <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="guardarDocumento('sustituirDocumento')">
                    Guardar
                  </button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showSustituirAnexo" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Sustituir anexo</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('showSustituirAnexo')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="row">                 
                <div class="card-body row" style="padding: 15px 15px;">                
                    <div class="col-md-6">
                        <label for="anexo" class="control-label">Cargar anexo</label>
                        <div class="input-group">
                            <label for="anexo" class="control-label" style="display: none" >Cargar anexo</label>
                            <input class="form-control" type="text" placeholder="Ubicación del anexo" name="anexo" id="anexo" size="25" readonly="readonly" value="{{anexoFileName}}" disabled>
                            <label for="fileAnexo" class="control-label" style="display: none" >Cargar anexo</label>
                            <input type="file" style="display: none" id="fileAnexo" accept=".pdf" (change)="onAnexoFileChange($event)" formControlName="key">
                            <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnAnexo" name="btnAnexo" onclick="document.getElementById('fileAnexo').click();">Buscar</button>
                            </span>
                        </div> 
                    </div>

                    <!--<div class="col-md-6">
                        <label for="nombre" class="form-label">Previsualizar:</label>
                        <div class="input-group">
                            <button class="btn btn-link" (click)="previsualizarAnexo()" title="Ver">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div> 
                    </div>-->

                    <div class="col-sm-12">
                        <pdf-viewer [src]="pdfSrcAnexo" [render-text]="true" [original-size]="false"
                                style="width: 700px; height: 100vh;"></pdf-viewer>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">
            <div class="text-end">
                <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="guardarAnexo('sustituirAnexo')">
                    Guardar
                  </button>
            </div>
        </div>
    </div>
</div>