<div class="col-sm-12">
    <div class="row">
        <div class="col-12 mb-4">
            <h3 class="text-center">
                Registro de sesiones COPER
            </h3>
        </div>
        <div class="col-md-12">
            <div class="row mb-2">
                <div class="col-md-4">
                ID propuesta:
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="12345" disabled>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    Fecha Asignada:
                </div>
                <div class="col-md-4">
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    Número de sesión
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Número de sesión">
                </div>
            </div>
            <div class="row">
                <label for="exampleFormControlTextarea1" class="form-label">Observaciones:</label>
                <textarea class="form-control" id="Observaciones" rows="3"></textarea>
            </div>
        </div>
    </div><br />
    <div class="row">           
        <div class="col-md-6">
            <label for="folio" class="form-label">Documentación</label>
        </div>
        <div class="col-md-6" style="display: flex; flex-direction: column;">
            <div class="input-group">
                <button type="button" class="btn  btn-negativo-modal" (click)="agregarDocumento()">Agregar</button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <table class="table table-striped">
            <thead>
                <tr>
                <th>NOTA</th>
                <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataAnexos">
                <td>{{item.name}}</td>
                <td>
                    <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                        data-placement="top" title="Vista previa"
                        (click)="openVistaPreviaAnexo('anexo', 'verDocumento')">
                        <em style="color: blue;" class="bi bi-eye"></em>
                    </button>
                    <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                        data-placement="top" title="Descargar"
                        (click)="descargarComprobante()">
                        <em style="color: blue;" class="bi bi-box-arrow-in-down"></em>
                    </button>
                </td>
                </tr>
            </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                    <th>FORMATOS</th>
                    <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataDocumentos">
                    <td>{{item.name}}</td>
                    <td>
                        <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                            data-placement="top" title="Vista previa"
                            (click)="openVistaPreviaAnexo('anexo', 'verDocumento')">
                            <em style="color: blue;" class="bi bi-eye"></em>
                        </button>
                        <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                            data-placement="top" title="Descargar"
                            (click)="descargarComprobante()">
                            <em style="color: blue;" class="bi bi-box-arrow-in-down"></em>
                        </button>
                    </td>
                    </tr>
                </tbody>
                </table>
            <div class="offcanvas-footer">
                <div class="row">
                    <div class="col-sm-12 text-end">
                        <button type="button" class="btn btn-warning" (click)="respuestaCofirmarModal(true)">Guardar&nbsp;<em class="bi bi-save"></em></button>&nbsp;  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showAgregarDocumento" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Agregar Documento</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('documento')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="row">                 
                <div class="col-md-12">
                    <div class="col-sm-12">                                   
                            
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" [class.active]="accionDetalle == 1"
                                    (click)="cambioAccionDetalle(1)">NOTA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [class.active]="accionDetalle == 2"
                                    (click)="cambioAccionDetalle(2)">FORMATOS</a>
                            </li>
                        </ul>
                        <br />             
                        <div class="row" *ngIf="accionDetalle == 1" style="margin-top: 15px;">
        
                            <div class="card-body">
                                <div class="row">
                                    <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th>Documento</th>
                                        <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of dataAnexos">
                                        <td>{{item.name}}</td>
                                        <td>
                                            <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                                                data-placement="top" title="Vista previa"
                                                (click)="openVistaPreviaDocumento('documento', 'verDocumento')">
                                                <em style="color: blue;" class="bi bi-eye"></em>
                                            </button>
                                            <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                                                data-placement="top" title="Descargar"
                                                (click)="descargasArchivos('documento')">
                                                <em style="color: blue;" class="bi bi-box-arrow-in-down"></em>
                                            </button>
                                            <button class="btn btn-link"
                                                (click)="agregarDocumento()"
                                                title="Cargar documento">
                                                <i class="bi bi-upload"></i>
                                            </button>
                                        </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>                   
                        </div>
        
                        <div class="row" *ngIf="accionDetalle == 2" style="margin-top: 15px;">
        
                            <div class="card-body">
                                <div class="row">
                                    <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th>Documento</th>
                                        <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of dataDocumentos">
                                        <td>{{item.name}}</td>
                                        <td>
                                            <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                                                data-placement="top" title="Vista previa"
                                                (click)="openVistaPreviaAnexo('anexo', 'verAnexo')">
                                                <em style="color: blue;" class="bi bi-eye"></em>
                                            </button>
                                            <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                                                data-placement="top" title="Descargar"
                                                (click)="descargasArchivos('anexo')">
                                                <em style="color: blue;" class="bi bi-box-arrow-in-down"></em>
                                            </button>
                                            <button class="btn btn-link"
                                                (click)="agregarAnexo()"
                                                title="Cargar anexo">
                                                <i class="bi bi-upload"></i>
                                            </button>
                                        </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>                   
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="button" class="btn btn-warning" (click)="respuestaCofirmarModal(true)">Guardar&nbsp;<em class="bi bi-save"></em></button>&nbsp;  
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="prevAnexo" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Archivo</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('prevAnexo')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
                    style="width: 700px; height: 100vh;"></pdf-viewer>
        </div>
    </div>
</div>

