
<h1>Informe mensual del nombramiento de depositario</h1>
<hr class="red">

<div class="card">
    <div class="card-body row">
        <div class="col-sm-6">
            <label for="bien" class="control-label">Bien SIAB:</label>
            <input type="text" class="form-control" id="bien" placeholder="bien">
        </div>
        <div class="col-sm-6">
            <label for="fecha" class="control-label">Fecha registro:</label>
            <input type="date" class="form-control" id="fecha" placeholder="dd/mm/yyyy" >
        </div>
        <hr>
        <div class="col-sm-6">
            <label for="depositario" class="control-label">Numero depositario:</label>
            <input type="text" class="form-control" id="depositario" placeholder="depositario">
        </div>
        <div class="col-sm-6">
            <label for="mes" class="control-label">Informe del mes de:</label>
            <select class="form-select" aria-label="Default select example" id="mes" disabled>
                <option >Selecciona un mes</option>
                <option selected value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
              </select>
        </div>
        <div class="col-sm-6">
            <label for="desc" class="control-label">Descripcion y numero de serie:</label>
            <textarea type="text" class="form-control" id="desc" placeholder="desc"  rows="4"></textarea>
        </div>
        <div class="col-sm-6">
            <label for="desc" class="control-label">Ubicación del bien:</label>
            <textarea type="text" class="form-control" id="desc" placeholder="desc" rows="4"></textarea>
        </div>
    </div>
    <hr>
    <div class="card-body row">
        <p  class="control-label">Estado físico:</p>
        <div class="col-sm-12">
            <div class="form-check">
                <input class="form-check-input" name="defaultCheck1" type="radio" value="1" id="defaultCheck1" [(ngModel)]="valor" >
                <label class="form-check-label control-label" for="defaultCheck1">
                    Declaro que el bien se encuentra en las mismas condiciones que lo recibí, salvo el deterioro normal causado  por el transcurso del  
                    tiempo. 
                </label>
                </div>
        </div>
        <div class="col-sm-12">
            <div class="form-check">
                <input class="form-check-input" name="defaultCheck1" type="radio" value="2" id="defaultCheck2" [(ngModel)]="valor">
                <label class="form-check-label control-label" for="defaultCheck2">
                    En mantenimiento o reparación.
                </label>
                </div>
        </div>
        <div class="col-sm-12">
            <div class="form-check">
                <input class="form-check-input" name="defaultCheck1" type="radio" value="3" id="defaultCheck3" [(ngModel)]="valor">
                <label class="form-check-label control-label" for="defaultCheck3">
                    Siniestrado.
                </label>
                </div>
        </div>
        <div class="col-sm-12">
            <div class="form-check">
                <input class="form-check-input" name="defaultCheck1" type="radio" value="4" id="defaultCheck4" [(ngModel)]="valor">
                <label class="form-check-label control-label" for="defaultCheck4">
                    Otro.
                </label>
                </div>
        </div>
        <hr *ngIf="valor == 2 || valor == 4 || valor == 1">
        <div class="col.col-sm-12" *ngIf="valor == 2 || valor == 4">
            <label for="esp" class="control-label">Especifique:</label>
            <textarea type="text" class="form-control" id="esp" placeholder="esp" rows="4"></textarea>
        </div>
        <div class="col-sm-12 row" *ngIf="valor == 1">
            <div class="col-sm-3">
                <div class="form-check">
                  <input class="form-check-input " type="radio"  name="Check1" id="flexRadioSinCURP" [value]="1">
                  <label class="form-check-label control-label" for="flexRadioSinCURP">  Bueno </label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Check1"  id="flexRadioSinCURP" [value]="2">
                  <label class="form-check-label control-label" for="flexRadioSinCURP"> Regular  </label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio"  name="Check1"  id="flexRadioSinCURP"  [value]="3">
                  <label class="form-check-label control-label" for="flexRadioSinCURP">    Malo  </label>
                </div>
              </div>
        </div>

    </div>
    <hr>
    <div class="card-body row">
        <div class="col.col-sm-12">
            <label for="esp" class="control-label">Uso que se le da al bien:</label>
            <textarea type="text" class="form-control" id="esp" placeholder="esp" rows="4"></textarea>
        </div>
    </div>
    <hr>
    <div class="card-body row">
        <p  class="control-label">Póliza de Seguros:</p>
        <div class="col-sm-12">
            <div class="form-check">
                <input class="form-check-input" name="seguro" type="checkbox" value="true" id="seguro" [(ngModel)]="seguro">
                <label class="form-check-label control-label" for="seguro">
                    ¿Cuenta con poliza de seguro?
                </label>
                </div>
        </div>
        <div class="col-sm-12 row" *ngIf="seguro">
            <div class="col-sm-6">
                <label for="num_poliza" class="control-label">Numero de póliza:</label>
                <input type="text" class="form-control" id="num_poliza" placeholder="num poliza">
            </div>
            <div class="col-sm-6">
                <label for="nombre_seguro" class="control-label">Nombre de compañia de seguro:</label>
                <input type="text" class="form-control" id="nombre_seguro" placeholder="nombre seguro">
            </div>
            <div class="col-sm-6">
                <label for="desde" class="control-label">Periodo que cubre la póliza</label>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
                <label for="desde" class="control-label">Desde:</label>
                <input type="date" class="form-control" id="desde" placeholder="desde">
            </div>
            <div class="col-sm-3">
                <label for="hasta" class="control-label">Hasta:</label>
                <input type="date" class="form-control" id="hasta" placeholder="hasta">
            </div>
            <div class="col-sm-6">
                <label for="mes" class="control-label">Periodicidad de  pago:</label>
                <select class="form-select" aria-label="Default select example" id="mes">
                    <option >Selecciona un mes</option>
                    <option selected value="1">Mensual</option>
                    <option value="2">Bimestral</option>
                    <option value="3">Semestral</option>
                    <option value="4">Anual</option>
                  </select>
            </div>
            <div class="col-sm-6">
                <label for="mes" class="control-label">Poliza de seguro:</label>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Póliza</label>
                    <input type="file" class="form-control" id="inputGroupFile01">
                  </div>
            </div>
            <div class="col-sm-6">
                <label for="mes" class="control-label">Comprobante pago poliza:</label>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Comprobante</label>
                    <input type="file" class="form-control" id="inputGroupFile01">
                  </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card-body row">
        <p  class="control-label">Menaje (para el caso de inmuebles):</p>
        <div class="col-sm-12">
            <div class="form-check">
                <input class="form-check-input" name="mensaje" type="checkbox" value="true" id="mensaje" [(ngModel)]="mensaje" >
                <label class="form-check-label control-label" for="mensaje">
                    Declaro que el bien se encuentra en las mismas condiciones que lo recibí, salvo el deterioro normal causado  por el transcurso del  
                    tiempo. 
                </label>
            </div>
        </div>
        <div class="col-sm-12 row" *ngIf="mensaje">
            <div class="col-sm-3">
                <div class="form-check">
                  <input class="form-check-input " type="radio"  name="Check1" id="flexRadioSinCURP" [value]="1">
                  <label class="form-check-label control-label" for="flexRadioSinCURP">  Bueno </label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Check1"  id="flexRadioSinCURP" [value]="2">
                  <label class="form-check-label control-label" for="flexRadioSinCURP"> Regular  </label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio"  name="Check1"  id="flexRadioSinCURP"  [value]="3">
                  <label class="form-check-label control-label" for="flexRadioSinCURP">    Malo  </label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio"  name="Check1"  id="flexRadioSinCURP"  [value]="3">
                  <label class="form-check-label control-label" for="flexRadioSinCURP">    Siniestrado  </label>
                </div>
              </div>
        </div>
        <div class="col.col-sm-12">
            <label for="esp" class="control-label">Observaciones respecto del menaje:</label>
            <textarea type="text" class="form-control" id="esp" placeholder="esp" rows="4"></textarea>
        </div>
    </div>
    <hr>
    <div class="card-body row">
        <p  class="control-label">Pago de impuestos, servicios, derechos y contribuciones:</p>
        <p  class="control-label">Asimismo, en apego al compromiso que asumí de cubrir los gastos de los servicios del Bien, adjunto al presente informe el (los) comprobante(s) de pago de los siguientes: </p>
        <div class="col-sm-6 row margencereo"  >
            <div class="col-sm-12">
                <label for="esp" class="control-label">Predial:</label>
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Monto:</label>
                <input type="text" class="form-control" id="monto" placeholder="monto">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Periodo:</label>
                <input type="date" class="form-control" id="monto" placeholder="monto">
            </div>
            <hr>
        </div>
        <div class="col-sm-6 row margencereo">
            <div class="col-sm-12">
                <label for="esp" class="control-label">Agua:</label>
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Monto:</label>
                <input type="text" class="form-control" id="monto" placeholder="monto">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Periodo:</label>
                <input type="date" class="form-control" id="monto" placeholder="monto">
            </div>
            <hr>
        </div> 
        <div class="col-sm-6 row margencereo">
            <div class="col-sm-12">
                <label for="esp" class="control-label">Luz:</label>
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Monto:</label>
                <input type="text" class="form-control" id="monto" placeholder="monto">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Periodo:</label>
                <input type="date" class="form-control" id="monto" placeholder="monto">
            </div>
            <hr>
        </div>
        <div class="col-sm-6 row margencereo">
            <div class="col-sm-12">
                <label for="esp" class="control-label">Mantenimiento:</label>
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Monto:</label>
                <input type="text" class="form-control" id="monto" placeholder="monto">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Periodo:</label>
                <input type="date" class="form-control" id="monto" placeholder="monto">
            </div>
            <hr>
        </div>
        <div class="col-sm-6 row margencereo">
            <div class="col-sm-12">
                <label for="esp" class="control-label">Tenencia/Refrendo:</label>
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Monto:</label>
                <input type="text" class="form-control" id="monto" placeholder="monto">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Periodo:</label>
                <input type="date" class="form-control" id="monto" placeholder="monto">
            </div>
            <hr>
        </div>
        <div class="col-sm-6 row margencereo">
            <div class="col-sm-12">
                <label for="esp" class="control-label">Verificación:</label>
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Monto:</label>
                <input type="text" class="form-control" id="monto" placeholder="monto">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Periodo:</label>
                <input type="date" class="form-control" id="monto" placeholder="monto">
            </div>
            <hr>
        </div>
        <div class="col-sm-6 row margencereo">
            <div class="col-sm-12">
                <label for="esp" class="control-label">Certificado de aeronavegación:</label>
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Monto:</label>
                <input type="text" class="form-control" id="monto" placeholder="monto">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Periodo:</label>
                <input type="date" class="form-control" id="monto" placeholder="monto">
            </div>
            <hr>
        </div>
        <div class="col-sm-6 row margencereo">
            <div class="col-sm-12">
                <label for="esp" class="control-label">Derechos portuarios:</label>
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Monto:</label>
                <input type="text" class="form-control" id="monto" placeholder="monto">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Periodo:</label>
                <input type="date" class="form-control" id="monto" placeholder="monto">
            </div>
            <hr>
        </div>
        <div class="col-sm-6 row margencereo">
            <div class="col-sm-12">
                <label for="esp" class="control-label">Otro:</label>
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Monto:</label>
                <input type="text" class="form-control" id="monto" placeholder="monto">
            </div>
            <div class="col-sm-6">
                <label for="monto" class="control-label">Periodo:</label>
                <input type="date" class="form-control" id="monto" placeholder="monto">
            </div>
            <hr>
        </div>
        <p  class="control-label">En caso de existir algún concepto pendiente de pago a la fecha del informe, me comprometo a remitir al SAE el comprobante de pago correspondiente a la brevedad. </p>
    </div>
    <hr>
    <div class="card-body row">
        <p  class="control-label">Pago de la contraprestación por la utilización del bien se encuentra cubierto:</p>
        <div class="col-sm-6">
            <label for="depositario" class="control-label">Fecha de la ficha de deposito:</label>
            <input type="date" class="form-control" id="depositario" placeholder="depositario">
        </div>
        <div class="col-sm-6">
            <label for="depositario" class="control-label">Monto:</label>
            <input type="text" class="form-control" id="depositario" placeholder="depositario">
        </div>
        <div class="col-sm-6">
            <label for="mes" class="control-label">Mes corespondiente:</label>
            <select class="form-select" aria-label="Default select example" id="mes" >
                <option >Selecciona un mes</option>
                <option selected value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
              </select>
        </div>
    </div>
    <hr>
    <div class="card-body row">
        <p  class="control-label">DATOS DEPOSITARIO Y/O REPRESENTANTE LEGAL</p>
        <div class="col-sm-6">
            <label for="depositario" class="control-label">Nombre del depositario y/o representante legal:</label>
            <input type="text" class="form-control" id="depositario" placeholder="nombre">
        </div>
        <div class="col-sm-6">
            <label for="depositario" class="control-label">Domicilio actual:</label>
            <input type="text" class="form-control" id="depositario" placeholder="domicilio">
        </div>
        <div class="col-sm-6">
            <label for="depositario" class="control-label">Telefono:</label>
            <input type="text" class="form-control" id="depositario" placeholder="telefono">
        </div>
        <div class="col-sm-6">
            <label for="depositario" class="control-label">Correo:</label>
            <input type="text" class="form-control" id="depositario" placeholder="correo">
        </div>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
           <button type="button" class="btn btn-outline-success" (click)="guardar()">Guardar</button>
        </div>
    </div>
    <hr>
    <div class="card-body row" *ngIf="permitirFirmar">
        <p  class="control-label">¿Como deseas firmar el documento?</p>
        <div class="col-sm-12">
            <div class="form-check">
                <input class="form-check-input" name="firma" type="checkbox" value="true" id="firma" [(ngModel)]="firma">
                <label class="form-check-label control-label" for="firma">
                    ¿Con firma electronica?
                </label>
                </div>
        </div>
        <div class="col-sm-12" *ngIf="firma">
            <div class="row" style="margin: 10px;">
                <div class="col-sm-6">
                  <label for="cert" class="control-label">Certificado (.cer):</label>
                  <div class="input-group">
                    <label for="txtCertificate" class="control-label" style="display: none">Certificado (.cer):</label>
                    <input class="form-control" type="text" placeholder="Ubicación del certificado" name="cert" id="txtCertificate"
                      size="25" readonly="readonly"  >
                    <label for="fileCertificate" class="control-label" style="display: none">Certificado (.cer):</label>
                    <input type="file" style="display: none" id="fileCertificate" accept=".cer" >
                    <span class="input-group-btn" style="vertical-align: bottom">
                      <button type="button" class="btn btn-outline-secondary" id="btnCertificate" name="btnCertificate"
                        >Buscar</button>
                    </span>
                  </div>
         
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                  <label for="key" class="control-label">Clave privada (.key):</label>
                  <div class="input-group">
                    <label for="txtPrivateKey" class="control-label" style="display: none">Clave privada (.key):</label>
                    <input class="form-control" type="text" placeholder="Ubicación de la llave privada" name="txtPrivateKey"  id="txtPrivateKey"
                      size="25" readonly="readonly"  >
                    <label for="filePrivateKey" class="control-label" style="display: none">Clave privada (.key):</label>
                    <input type="file" style="display: none" id="filePrivateKey" accept=".key"  >
                    <span class="input-group-btn" style="vertical-align: bottom">
                      <button type="button" class="btn btn-outline-secondary" name="btnPrivateKey" id="btnPrivateKey"
                       >Buscar</button>
                    </span>
                  </div>
                </div>
                <div class="col-sm-6"></div>
              
                <div class="col-sm-6">
                  <label for="privateKeyPassword" class="control-label">Contraseña de clave privada:</label>
                  <div class="input-group">
                    <input  class="form-control" placeholder="Contraseña"  id="privateKeyPassword"   #contraInput  name="privateKeyPassword" aria-label="Recipient's username" aria-describedby="basic-addon2"  >
                  
                  </div>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                  <label for="rfc" class="control-label">RFC:</label>
                  <input type="text" class="form-control" id="rfc" placeholder="RFC"   #rfcInput  disabled >
            
                </div>
                <div class="col-sm-6" style="display: none;" >
                  <input #firmar class="btn btn-outline-secondary" type="button" value="Validar firma"  onclick="firmar(event);" >
                  <hr>
                  <label for="firma" class="control-label">FIRMA:</label>
                  <input type="text" class="form-control" id="firma"  #firmaInput >
                  <label for="noSerie" class="control-label">Numeroserie:</label>
                  <input type="text" class="form-control" id="noSerie"  #numSerieInput >
                  <label for="hashSha256Input" class="control-label">Texto Firmar:</label>
                  <input type="text" class="form-control" id="hashSha256Input"  #hashSha256Input >
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-success">Firmar</button>
                </div>
              </div>
              

        </div>
        <div class="col-sm-12 row" *ngIf="!firma">
            <div class="col-sm-6">
                <button type="button" class="btn btn-outline-success" style="margin-top: 30px;">Decargar documento</button> &nbsp;
                <button type="button" class="btn btn-outline-success" style="margin-top: 30px;">Ver documento</button>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="formFile" class="control-label">Actualize o carge el documento firmado autografamente</label>
                    <input class="form-control" type="file" id="formFile">
                  </div>
            </div>
        </div>
    </div>
</div>