<div class="card">
  <div class="col-sm-6" style="padding: 10px;">
    <label for="date" class="form-label">Dias de Asueto </label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
          #d="ngbDatepicker" />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
      </div>
  </div>

  <div class="col-sm-6 margin">
    <button type="button" class="btn btn-primary " data-toggle="tooltip" data-placement="top" title="Registrar Informe"
      (click)="addDias()">
      <i id="circle" class="bi bi-plus-circle"> Agregar</i>
    </button>
  </div>

  <div class="alert alert-warning alert-dismissible fade show alert" role="alert" *ngIf="mostrarMensaje">
    Agregar los Días de Asueto antes de las 6pm
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="ocultarMensaje()" style="margin: -10px 0px 0px 0px"></button>
  </div>

  <div class="col-sm-12">
    <div class="col-sm-12">
      <div class="col-sm-12 scroll-tabla" data-testid="edosTable">
        <table class="table table-striped">
          <thead>
            <tr>
              <th >No.</th>
              <th >Fecha</th>
              <th >Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataInforme">
                <th>{{ item.id }}</th>
                <th>{{ item.fecha }} </th>
              <th>
              <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                data-placement="top" title="Ver"
                (click)="openVistaPrevia(item.id, '')">
                <em style="color: blue;" class="bi bi-eye"></em>
              </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
