.title {
    background-color: #E2E3E5;
    margin-bottom: 1rem;
}

.btn-title {
    color: #610f28;
}

.btn-title:hover {
    color:#b38e5d;
    font-weight: 500; 
}

.btn-title:active {
    color: #610f28;
}

h5 {
    margin-bottom: 0;
}

.form-label {
    font-weight: bold !important;
    margin-bottom: 0;
  }
  