<div class="row">
    <div class="col-md-12 valoresCentrados title">
        <h5>
            Prevalidación
            <button type="button" class="btn btn-link btn-title" (click)="mostrarDetalle()" data-toggle="tooltip"
                data-placement="top" title="Ver detalle">
                <i class="bi bi-caret-left-fill" *ngIf=" showDetalle"></i>
                <i class="bi bi-caret-right-fill" *ngIf="! showDetalle"></i>
            </button>
        </h5>
    </div>

    <div class="col-sm-6">
        <label for="revisionRequisitos" class="form-label">Resultado de revisión de requisitos:&nbsp;</label>
        <span>
            NO CUMPLE
        </span>

    </div>
    <div class="col-sm-6">
        <label for="revisionBienesDisponibles" class="form-label">Resultado de revisión de requisitos y/o revisión de
            bienes disponibles:&nbsp;</label>
        <span>
            IMPROCEDENTE
        </span>
    </div>

    <div class="col-sm-6">
        <label for="oficioAtencion" class="form-label">Oficio de atención - rechazo:&nbsp;</label>
        <span>
            INDEP/DG/DCB/DEBI/CAB/809/2023
        </span>
    </div>

    <div class="col-sm-6">
        <label for="fechaOficio" class="form-label">Fecha oficio atendida:&nbsp;</label>
        <span>
            09/06/2023
        </span>
    </div>

    <div class="col-sm-12">
        <label for="obsOficio" class="form-label">Observaciones de oficio de atención - rechazo:&nbsp;</label>
        <span>
            SE INFORMA QUE LA SITUACIÓN JURÍDICA DEL BIEN DE REFERENCIA, IMPIDE SU USO BAJO LA FIGURA DE DEPOSITARÍA.
        </span>
    </div>

    <div class="col-sm-12">
        <label for="observaciones" class="form-label">Observaciones:&nbsp;</label>
        <span>
            REMITE UN FORMATO DE SOLICITUD DE FECHA 18/11/2021.
        </span>

    </div>

</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showDetalle" ngtabindex="-1" id="offcanvasDocumento"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Detalle prevalidación</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <!-- <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">

        </div>
    </div>
</div>

<div class="offcanvas-backdrop fade show" *ngIf=" showDetalle"></div>