<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 mb-4">
                    <h3 class="text-center">
                        Reportes
                    </h3>
                </div>

                <div class="card-body row">
                    <div class="col-sm-3">
                        <div class="row mb-12">
                            <div class="col-md-12">
                                <button class="btn btn-primary" (click)="filtros('atencionAcred')">Atención de acreditados</button>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-3">                                      
                        <div class="row mb-12">                           
                            <div class="col-md-12">
                                <button class="btn btn-primary" (click)="filtros('activosFin')">Activos financieros</button>
                            </div>
                        </div>
                    </div>         
                    <div class="col-sm-3">                                      
                        <div class="row mb-12">                           
                            <div class="col-md-12">
                                <button class="btn btn-primary" (click)="filtros('coper')">&nbsp;&nbsp;&nbsp;&nbsp; COPER &nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-3">                                      
                        <div class="row mb-12">                           
                            <div class="col-md-12">
                                <button class="btn btn-primary" (click)="filtros('seguiCoper')">Seguimiento COPER</button>
                            </div>
                        </div>
                    </div>                                
                </div>

                <div class="col-12 mb-4" [class.show]="showTipoReporte">
                    <h3 class="text-center">
                        {{subtitulo}}
                    </h3>
                </div>

                <div class="col-sm-12" *ngIf="filtrosReportes">
                    <div class="card-body row">
                        <div class="col-sm-6">                                      
                            <div class="row mb-6">
                                <div class="col-md-5">
                                    Fecha inicio
                                </div>
                                <div class="col-md-6">
                                    <input type="date" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">                                      
                            <div class="row mb-6">
                                <div class="col-md-5">
                                    Fecha fin
                                </div>
                                <div class="col-md-6">
                                    <input type="date" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">                                      
                            <div class="row mb-6">
                                <div class="col-md-5">
                                    Id acreditado
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Id acreditado">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6" *ngIf="atencionAcred == true">                                      
                            <div class="row mb-6">
                                <div class="col-md-5">
                                    Responsable de atención:
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Responsable de atención">
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline btn-primary" title="Buscar" (click)="cambioSeleccion()" style="margin-right: 55px;">
                                <em class="bi bi-search "> Buscar</em>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="col-sm-12" *ngIf="tablaAtencionAcreditados">
                    <div class="card-body">
                        <div class="row">
                            <table class="table table-striped">
                            <thead>
                                <tr class="table-secondary">
                                    <th style="width: 15%;">Id acreditado</th>
                                    <th style="width: 15%;">Deudor</th>
                                    <th style="width: 15%;">Número de cliente</th>
                                    <th style="width: 15%;">Encomienda</th>
                                    <th style="width: 20%;">Medio atención</th>
                                    <th style="width: 20%;">Monto</th>
                                    <th style="width: 30%;">Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of dataAcreditados">
                                    <td>{{data.idAcreditado}}</td>
                                    <td>{{data.deudor}}</td>
                                    <td>{{data.numeroCliente}}</td>
                                    <td>{{data.encomienda}}</td>
                                    <td>{{data.medioAtencion}}</td>
                                    <td>{{data.monto}}</td>
                                    <td>{{data.observaciones}}</td>                                                   
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" *ngIf="tablaFinancieros">
                    <div class="card-body">
                        <div class="row">
                            <table class="table table-striped">
                            <thead>
                                <tr class="table-secondary">
                                    <th style="width: 15%;">Id acreditado</th>
                                    <th style="width: 15%;">Id propuesta</th>
                                    <th style="width: 15%;">Cartera</th>
                                    <th style="width: 15%;">Fecha</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of dataFinanciero">
                                    <td>{{data.idAcreditado}}</td>
                                    <td>{{data.idPropuesta}}</td>
                                    <td>{{data.cartera}}</td>
                                    <td>{{data.fecha}}</td>                                                       
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" *ngIf="tablaCoper">
                    <div class="card-body">
                        <div class="row">
                            <table class="table table-striped">
                            <thead>
                                <tr class="table-secondary">
                                    <th style="width: 15%;">Id acreditado</th>
                                    <th style="width: 15%;">Id Propuesta</th>
                                    <th style="width: 15%;">Número sesión</th>
                                    <th style="width: 15%;">Estatus</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of dataCoper">
                                    <td>{{data.idAcreditado}}</td>
                                    <td>{{data.idPropuesta}}</td>
                                    <td>{{data.numeroSesion}}</td>
                                    <td>{{data.estatus}}</td>                                                       
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" *ngIf="tablaSeguimientoCoper">
                    <div class="card-body">
                        <div class="row">
                            <table class="table table-striped">
                            <thead>
                                <tr class="table-secondary">
                                    <th style="width: 15%;">Número sesión</th>
                                    <th style="width: 15%;">Fecha asignada</th>
                                    <th style="width: 15%;">Fecha presentación</th>
                                    <th style="width: 15%;">Canal solución</th>
                                    <th style="width: 15%;">Fecha vencimiento</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of dataSeguimientoCoper">
                                    <td>{{data.noSesion}}</td>
                                    <td>{{data.fechaAsignada}}</td>
                                    <td>{{data.fechaPresentacion}}</td>
                                    <td>{{data.canalSolucion}}</td>
                                    <td>{{data.fechaVencimiento}}</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row m-3" *ngIf="btnExport">
                    <div class="col-3 d-grid gap-2"></div>
                    <div class="col-3 d-grid gap-2"></div>
                    <div class="col-3 d-grid gap-2">
                        <button type="button" class="btn btn-outline-success" onclick="">Guardar como XLS</button>
                    </div>
                    <div class="col-3 d-grid gap-2">
                        <button type="button" class="btn btn-outline-danger" onclick="">Guardar como PDF</button>
                    </div>
                </div>

            </div>   
        </div>
    </div>
</div>


