.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

//   .left-content {
//     /* Estilos para el contenido del lado izquierdo */
//   }

  .right-content {
    /* Estilos para el contenido del lado derecho (botón) */
    cursor: pointer;
    font-size: 25px;
  }

  label, p{
    font-weight: bolder;
  }

  span{
    font-weight: normal;
  }
  .Golden{
    background: #ddd;
    border-top: 1px solid #ddd;
   }
