<div class="row">
  <sg-wizard [listaPasos]="listaPasos" (valorIndice)="recibeIndice($event)"></sg-wizard>

  <div class="col-md-12">
    <div class="col-sm-10">
      <div class="card" style="padding: 15px;">
        <div class="card-body row" *ngIf="Indice == 0">
          <div class="col-sm-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefaultTipo" id="flexRadioDefault1"
                [(ngModel)]="seleccion" value="0" (change)="seleccionTipo()" checked>
              <label class="form-check-label" for="flexRadioDefault1">
                Oficialía de partes
              </label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefaultTipo" id="flexRadioDefault2"
                [(ngModel)]="seleccion" value="1" (change)="seleccionTipo()">
              <label class="form-check-label" for="flexRadioDefault2">
                CURP
              </label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefaultTipo" id="flexRadioDefault3"
                [(ngModel)]="seleccion" value="2" (change)="seleccionTipo()" selected>
              <label class="form-check-label" for="flexRadioDefault3">
                RFC
              </label>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4"
                [(ngModel)]="seleccion" value="3" (change)="seleccionTipo()">
              <label class="form-check-label" for="flexRadioDefault4">
                Otro
              </label>
            </div>
          </div>

          <div class="row mt-2" *ngIf="seleccion == 0">
            <div class="col-sm-12">
              <div class="row align-items-center">
                <div class="col-auto">
                  <label for="folio" class="form-label">No. folio*:</label>
                </div>
                <div class="col-auto" style="display: flex; flex-direction: column;">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="folio" aria-label="folio"
                      aria-describedby="button-addon2" id="folio">
                    <button class="btn btn-outline btn-primary" type="button" id="button-addon2"
                      (click)="buscar()">Buscar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="tipoSeleccion === 'oficialia'">
              <div class="col-sm-12">
                <label for="fecha" class="form-abel">Fecha: </label>
                <span> 12/020/2023 </span>
              </div>

              <div class="col-sm-12">
                <label for="fecha" class="form-abel">Remitente: </label>
                <span> Roberto Ortíz Alcantara </span>
              </div>

              <div class="col-sm-12">
                <label for="fecha" class="form-abel">Solicitud: </label>
                <button class="btn btn-link"> Solicitud.pdf </button>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="seleccion == 1">
            <div class="col-sm-12">
              <div class="row align-items-center">
                <div class="col-auto">
                  <label for="folio" class="form-label">CURP*:</label>
                </div>
                <div class="col-auto" style="display: flex; flex-direction: column;">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="CURP" aria-label="folio"
                      aria-describedby="button-addon2" id="folio">
                    <button class="btn btn-outline btn-primary" type="button" id="button-addon2"
                      (click)="buscar()">Buscar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="tipoSeleccion === 'curp'">
              <div class="col-sm-12">
                <label for="fecha" class="form-abel">Nombre: </label>
                <span> Roberto </span>
              </div>

              <div class="col-sm-12">
                <label for="fecha" class="form-abel">Apellido Paterno: </label>
                <span> Ortíz </span>
              </div>

              <div class="col-sm-12">
                <label for="fecha" class="form-abel">Apellido Materno: </label>
                <span> Álcantara </span>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="seleccion == 2">
            <div class="col-sm-12">
              <div class="row align-items-center">
                <div class="col-auto">
                  <label for="rfc" class="form-label">RFC*:</label>
                </div>
                <div class="col-auto" style="display: flex; flex-direction: column;">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="folio" aria-label="folio"
                      aria-describedby="button-addon2" id="rfc">
                    <button class="btn btn-outline btn-primary" type="button" id="button-addon2"
                      (click)="buscar()">Buscar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="tipoSeleccion === 'rfc'">
                <div class="col-sm-2">
                  <label for="" class="form-label">Tipo: </label>
                </div>

                <div class="col-sm-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefaultRFC" id="flexRadioDefaultRFC"
                    [(ngModel)]="tipoPersona" value="fisica" (change)="seleccionTipo()" checked>
                    <label class="form-check-label" for="flexRadioDefaultRFC">
                      Persona física
                    </label>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefaultRFC" id="flexRadioDefaultRFC"
                      [(ngModel)]="tipoPersona" value="moral" (change)="seleccionTipo()" checked>
                    <label class="form-check-label" for="flexRadioDefaultRFC">
                      Persona moral
                    </label>
                  </div>
                </div>

                <div class="card" style="padding: 15px;">
                  <div class="col-sm-6">
                    <label for="N" class="form-label">Nombre: </label>
                    <input type="text" class="form-control" placeholder="Ingrese su nombre" >
                  </div>

                  <div class="col-sm-6">
                    <label for="N" class="form-label">Apellido Paterno: </label>
                    <input type="text" class="form-control" placeholder="Ingrese su apellido paterno" >
                  </div>

                  <div class="col-sm-6">
                    <label for="N" class="form-label">Apellido Materno: </label>
                    <input type="text" class="form-control" placeholder="Ingrese su apellido materno" >
                  </div>
                </div>
              </div>
          </div>

          <div class="row" *ngIf="seleccion == 3">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-2">
                  <label for="" class="form-label">Tipo: </label>
                </div>
                <div class="col-sm-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefaultOtro" id="flexRadioDefaultOtro"
                      [(ngModel)]="tipoPersona" value="fisica" (change)="seleccionTipo()" checked>
                    <label class="form-check-label" for="flexRadioDefaultOtro">
                      Persona física
                    </label>
                  </div>

                </div>
                <div class="col-sm-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefaultOtro" id="flexRadioDefaultOtro"
                      [(ngModel)]="tipoPersona" value="moral" (change)="seleccionTipo()" checked>
                    <label class="form-check-label" for="flexRadioDefaultOtro">
                      Persona moral
                    </label>
                  </div>

                </div>

                <div class="col-sm-12">
                  <label for="fecha" class="form-abel">Nombre: </label>
                  <span> Roberto </span>
                </div>

                <div class="col-sm-12">
                  <label for="fecha" class="form-abel">Apellido Paterno: </label>
                  <span> Ortíz </span>
                </div>

                <div class="col-sm-12">
                  <label for="fecha" class="form-abel">Apellido Materno: </label>
                  <span> Álcantara </span>
                </div>

              </div>
            </div>
          </div>

          <div class="card" style="padding: 15px;">
            <div class="row">
              <h3> Datos de la solicitud </h3>
                <hr>
              <div class="col-sm-12">
                <label for="exampleFormControlTextarea1" class="form-label">Descripción de la solicitud: </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
  
              <div class="col-sm-12">
                <label for="exampleFormControlTextarea2" class="form-label">Justificación: </label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
              </div>
  
              <div class="col-sm-6">
                <label for="date" class="form-label">Fecha de registro: </label>
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                      #d="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                  </div>
              </div>
            </div>
          </div>
        
          <div class="card" style="padding: 15px;">
            <div class="row">
              <h3>Datos de Usuario</h3>
                <hr>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefaultSinCuenta"
                      id="flexRadioDefaultSinCuenta" [(ngModel)]="cuenta" value="true" [checked]="cuenta">
                    <label class="form-check-label" for="flexRadioDefaultSinCuenta">
                      Crear cuenta usuario
                    </label>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefaultSinCuenta"
                      id="flexRadioDefaultSinCuenta" [(ngModel)]="cuenta" value="false">
                    <label class="form-check-label" for="flexRadioDefaultSinCuenta">
                      Sin cuenta
                    </label>
                  </div>
                </div>

                <div class="row" flex-column>
                  <div class="col-sm-6">
                    <label for="email" class="form-label">Correo electrónico*:</label>
                    <input type="text" class="form-control" placeholder="example@email.com" aria-label="email"
                      aria-describedby="button-addon2" id="email">
                  </div>

                  <div class="col-sm-6">
                    <label for="email" class="form-label">Confirma correo electrónico*:</label>

                    <input type="text" class="form-control" placeholder="example@email.com" aria-label="email"
                      aria-describedby="button-addon2" id="email">
                  </div>

                  <div class="col-sm-6">
                    <label for="confirmEmail" class="form-label">Nombre de usuario*:</label>
                    <input type="text" class="form-control" placeholder="example@email.com" aria-label="email"
                      aria-describedby="button-addon2" id="confirmEmail">
                  </div>

                  <div class="col-sm-6">
                    <label for="claveSecreta" class="form-label">Clave secreta*: </label>
                    <input type="password" class="form-control" placeholder="example@email.com" aria-label="email"
                      aria-describedby="button-addon2" id="claveSecreta">
                  </div>

                  <div class="col-sm-6">
                    <label for="confirmCS" class="form-label">Confirmar clave secreta*:</label>
                    <input type="password" class="form-control" placeholder="example@email.com" aria-label="email"
                     aria-describedby="button-addon2" id="confirmCS">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body row" *ngIf="Indice == 3">

          <div class="col-sm-12 ">
            <p class="sub-titulo"> Datos personales</p>
          </div>
          <hr>
          <div class="col-sm-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre">
          </div>
          <div class="col-sm-6">
            <label for="primerapellido" class="form-label">Apellido paterno</label>
            <input type="text" class="form-control" id="primerapellido" placeholder="Apellido paterno">
          </div>
          <div class="col-sm-6">
            <label for="segundoapellido" class="form-label">Apellido paterno</label>
            <input type="text" class="form-control" id="segundoapellido" placeholder="Apellido paterno">
          </div>
          <div class="col-sm-6">
            <label for="RFC" class="form-label">RFC</label>
            <input type="text" class="form-control" id="RFC" placeholder="RFC">
          </div>
          <div class="col-sm-6">
            <label for="CURP" class="form-label">CURP</label>
            <input type="text" class="form-control" id="CURP" placeholder="CURP">
          </div>

          <div class="col-sm-6">
            <label for="Nacimiento" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="Nacimiento" placeholder="Fecha de nacimiento">
          </div>
          <div class="col-sm-6">
            <label for="genero" class="form-label">Genero</label>
            <select class="form-select" aria-label="Default select example" id="genero">
              <option selected>Selecciona un genero</option>
              <option value="1">Hombre</option>
              <option value="2">Mujer</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="correo" class="form-label">Correo electrónico</label>
            <input type="text" class="form-control" id="correo" placeholder="Correo electrónico">
          </div>
          <div class="col-sm-6">
            <label for="fijo" class="form-label">Teléfono fijo</label>
            <input type="text" class="form-control" id="fijo" placeholder="Teléfono fijo">
          </div>
          <div class="col-sm-6">
            <label for="movil" class="form-label">Teléfono movil</label>
            <input type="text" class="form-control" id="movil" placeholder="Teléfono movil">
          </div>
          <div class="col-sm-12 ">
            <div class="card">
              <div class="card-header" (click)="mostrarContenidoUno()">
                <div class="left-content">
                  <p class="sub-titulo">Domicilio particular</p>
                </div>
                <div class="right-content">
                  <em class="bi bi-plus-circle" *ngIf="!contenidoUno"></em>
                  <em class="bi bi-dash-circle" *ngIf="contenidoUno"></em>
                </div>
              </div>
              <div class="card-body row" *ngIf="contenidoUno">
                <div class="col-sm-6">
                  <label for="calle" class="form-label">Calle</label>
                  <input type="text" class="form-control" id="calle" placeholder="Calle">
                </div>
                <div class="col-sm-6">
                  <label for="Interior" class="form-label">No. Interior</label>
                  <input type="text" class="form-control" id="Interior" placeholder="No. Interior">
                </div>
                <div class="col-sm-6">
                  <label for="Exterior" class="form-label">No. Exterior</label>
                  <input type="text" class="form-control" id="Exterior" placeholder="No. Exterior">
                </div>
                <div class="col-sm-6">
                  <label for="EntidadFederetiva" class="form-label">Entidad Federetiva</label>
                  <select class="form-select" aria-label="Default select example" id="EntidadFederetiva">
                    <option selected>Selecciona un Entidad Federativa</option>
                    <option value="1">Estado de Mexico</option>
                    <option value="2">Ciudad de Mexico</option>
                    <option value="3">Tlaxcala</option>
                    <option value="4">Hidalgo</option>
                    <option value="5">Veracruz</option>
                    <option value="6">Gerrero</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <label for="AlcaldíaoMunicipio" class="form-label">Alcaldía o Municipio</label>
                  <select class="form-select" aria-label="Default select example" id="AlcaldíaoMunicipio">
                    <option selected>Selecciona una Alcaldía o Municipio</option>
                    <option value="1">Ecatepec</option>
                    <option value="2">Ojo de agua</option>
                    <option value="3">Nezahualcóyotl</option>
                    <option value="4">La paz</option>
                    <option value="5">Aragón</option>
                    <option value="6">Iztapalapa</option>
                  </select>
                </div>
                <div class="col-sm-12">
                  <label for="Referencia" class="form-label">Referencia</label>
                  <input type="text" class="form-control" id="Referencia" placeholder="Referencia">
                </div>


              </div>
            </div>
          </div>
          <div class="col-sm-12 ">
            <div class="card">
              <div class="card-header" (click)="mostrarContenidoDos()">
                <div class="left-content">
                  <p class="sub-titulo">Domicilio fiscal</p>
                </div>
                <div class="right-content">
                  <!-- <button type="button" class="btn btn-light" style="font-size: 30px;"><i class="bi bi-plus-circle"></i></button> -->
                  <em class="bi bi-plus-circle" *ngIf="!contenidoDos"></em>
                  <em class="bi bi-dash-circle" *ngIf="contenidoDos"></em>
                </div>
              </div>
              <div class="card-body row" *ngIf="contenidoDos">
                <div class="col-sm-6">
                  <label for="calle" class="form-label">Calle</label>
                  <input type="text" class="form-control" id="calle" placeholder="Calle">
                </div>
                <div class="col-sm-6">
                  <label for="Interior" class="form-label">No. Interior</label>
                  <input type="text" class="form-control" id="Interior" placeholder="No. Interior">
                </div>
                <div class="col-sm-6">
                  <label for="Exterior" class="form-label">No. Exterior</label>
                  <input type="text" class="form-control" id="Exterior" placeholder="No. Exterior">
                </div>
                <div class="col-sm-6">
                  <label for="EntidadFederetiva" class="form-label">Entidad Federetiva</label>
                  <select class="form-select" aria-label="Default select example" id="EntidadFederetiva">
                    <option selected>Selecciona un Entidad Federativa</option>
                    <option value="1">Estado de Mexico</option>
                    <option value="2">Ciudad de Mexico</option>
                    <option value="3">Tlaxcala</option>
                    <option value="4">Hidalgo</option>
                    <option value="5">Veracruz</option>
                    <option value="6">Gerrero</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <label for="AlcaldíaoMunicipio" class="form-label">Alcaldía o Municipio</label>
                  <select class="form-select" aria-label="Default select example" id="AlcaldíaoMunicipio">
                    <option selected>Selecciona una Alcaldía o Municipio</option>
                    <option value="1">Ecatepec</option>
                    <option value="2">Ojo de agua</option>
                    <option value="3">Nezahualcóyotl</option>
                    <option value="4">La paz</option>
                    <option value="5">Aragón</option>
                    <option value="6">Iztapalapa</option>
                  </select>
                </div>
                <div class="col-sm-12">
                  <label for="Referencia" class="form-label">Referencia</label>
                  <input type="text" class="form-control" id="Referencia" placeholder="Referencia">
                </div>
                <div class="col-sm-6">
                  <label for="fijo" class="form-label">Teléfono fijo</label>
                  <input type="text" class="form-control" id="fijo" placeholder="Teléfono fijo">
                </div>
                <div class="col-sm-6">
                  <label for="movil" class="form-label">Teléfono movil</label>
                  <input type="text" class="form-control" id="movil" placeholder="Teléfono movil">
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="card-body row" *ngIf="Indice == 4">
          <div class="col-sm-12 ">
            <p class="sub-titulo"> Datos de contacto</p>
          </div>
          <hr>
          <div class="col-sm-6">
            <label for="nombre" class="form-label">Nombre contacto</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre">
          </div>
          <div class="col-sm-6">
            <label for="calle" class="form-label">Calle</label>
            <input type="text" class="form-control" id="calle" placeholder="Calle">
          </div>
          <div class="col-sm-6">
            <label for="Interior" class="form-label">No. Interior</label>
            <input type="text" class="form-control" id="Interior" placeholder="No. Interior">
          </div>
          <div class="col-sm-6">
            <label for="Exterior" class="form-label">No. Exterior</label>
            <input type="text" class="form-control" id="Exterior" placeholder="No. Exterior">
          </div>
          <div class="col-sm-6">
            <label for="EntidadFederetiva" class="form-label">Entidad Federetiva</label>
            <select class="form-select" aria-label="Default select example" id="EntidadFederetiva">
              <option selected>Selecciona un Entidad Federativa</option>
              <option value="1">Estado de Mexico</option>
              <option value="2">Ciudad de Mexico</option>
              <option value="3">Tlaxcala</option>
              <option value="4">Hidalgo</option>
              <option value="5">Veracruz</option>
              <option value="6">Gerrero</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="AlcaldíaoMunicipio" class="form-label">Alcaldía o Municipio</label>
            <select class="form-select" aria-label="Default select example" id="AlcaldíaoMunicipio">
              <option selected>Selecciona una Alcaldía o Municipio</option>
              <option value="1">Ecatepec</option>
              <option value="2">Ojo de agua</option>
              <option value="3">Nezahualcóyotl</option>
              <option value="4">La paz</option>
              <option value="5">Aragón</option>
              <option value="6">Iztapalapa</option>
            </select>
          </div>
          <div class="col-sm-12">
            <label for="Referencia" class="form-label">Referencia</label>
            <input type="text" class="form-control" id="Referencia" placeholder="Referencia">
          </div>
          <div class="col-sm-6">
            <label for="fijo" class="form-label">Teléfono fijo</label>
            <input type="text" class="form-control" id="fijo" placeholder="Teléfono fijo">
          </div>
          <div class="col-sm-6">
            <label for="movil" class="form-label">Teléfono movil</label>
            <input type="text" class="form-control" id="movil" placeholder="Teléfono movil">
          </div>
        </div>
        <div class="card-body row" *ngIf="Indice == 5">
          <div class="col-sm-12 ">
            <p class="sub-titulo">Carga de documentos</p>
          </div>
          <hr>
          <div class="col-sm-6">
            <label for="Identificación" class="form-label">Identificación oficial</label>
            <input class="form-control" type="file" id="Identificación">
          </div>
          <div class="col-sm-6">
            <label for="acta" class="form-label">Acta de nacimiento</label>
            <input class="form-control" type="file" id="acta">
          </div>
          <div class="col-sm-6">
            <label for="CURP" class="form-label">CURP</label>
            <input class="form-control" type="file" id="CURP">
          </div>
          <div class="col-sm-6">
            <label for="dom" class="form-label">Comprobante de domicilio</label>
            <input class="form-control" type="file" id="dom">
          </div>
        </div>
        <div class="card-body row" *ngIf="Indice == 1">
          <div class="col-sm-12">
                <div class="card">
                  <div class="card-body row">
                    <h2>Vista Previa</h2>

                  <div class="col-sm-12 row">
                    <div class="col-md-12" style="text-align: center;">
                      <p class="Golden">
                        I. Datos de la Solicitud
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="nombre" class="form-label">No. Folio:</label>
                    <span> 17852</span>
                  </div>
                  <div class="col-md-6">
                    <label for="nombre" class="form-label">Remitente:</label>
                    <span> Roberto Ortiz</span>
                  </div>
                  <div class="col-md-6">
                    <label for="nombre" class="form-label">Solicitud:</label>
                    <a href=""> solicitud.pdf</a>
                  </div>

                  <div class="col-sm-12 row">
                    <div class="col-md-12" style="text-align: center; margin: 13px 0px 0px 0px;">
                      <p class="Golden">
                        II. Datos del Bien
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="nombre" class="form-label">Descripción</label>
                    <span> Por este medio le solicito</span>
                  </div>
                  <div class="col-md-6">
                    <label for="nombre" class="form-label">Justificación</label>
                    <span> por el motivo tal</span>
                  </div>
                  <div class="col-md-6">
                    <label for="" class="control-label">Fecha de registro: </label>
                    <span> {{fecha}}17/10/2023 </span>
                  </div>

                  <div class="col-sm-12 row">
                    <div class="col-md-12" style="text-align: center; margin: 13px 0px 0px 0px;">
                      <p class="Golden">
                        III. Datos de Usuario
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="nombre" class="form-label">correo electrónico:</label>
                    <span> example@gmail.com</span>
                  </div>
                  <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre de usuario:</label>
                    <span> Roberto Ortiz</span>
                  </div>
                  </div>
                </div>
              </div>
        </div>

        <div class="card-body row" *ngIf="Indice == 2">
          <div class="col-sm-12">
            <div class="alert alert-info" role="alert">
              Recibiras un correo de confirmación!
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-12" style=" margin-bottom: 10px; ">
    <button class="btn btn-secundary boton-izquierdo" (click)="atras()"
      *ngIf="Indice > 0 && Indice != IndiceMax ">Atras</button>
    <button class="btn btn-primary boton-derecho" (click)="siguiente()" *ngIf="Indice < IndiceMax-1">Siguiente</button>
    <button class="btn btn-primary boton-derecho" (click)="confirmar()"
      *ngIf="Indice == IndiceMax -1">Confirmar</button>
  </div>
</div>
