<div class="row">
  <div class="col-sm-12">
    <h1>Usuarios Internos</h1>
    <hr class="red">
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <tr class="table-secondary">
            <th style="width: 5%;">No.</th>
            <th style="width: 20%;">Coordinador</th>
            <th style="width: 20%;">Oficina Regional</th>
            <th style="width: 20%;">Correo</th>
            <th style="width: 25%;">Dirección</th>
            <th style="width: 10%;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.cd_catcorreg }}</td>
            <td>{{ item.tx_nomcorrreg }}</td>
            <td>{{ item.tx_ofnareg }}</td>
            <td>{{ item.tx_email }}</td>
            <td>{{ item.tx_direccion }}</td>
            <td>
              <button type="button" class="btn btn-link" (click)="editarCoordinador(item.cd_catcorreg, content)"
                title="Editar">
                <i class="bi bi-pencil"></i>
              </button>
              <button type="button" class="btn btn-link" (click)="abrirOffCanvas(1, item.cd_catcorreg)"
                title="Detalles">
                <i class="bi bi-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal Edicion Datos Coordinador -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Datos del Coordinador Regional</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label">Coordinador:</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Coordinador" [(ngModel)]="coordinador">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label">Correo:</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Correo" [(ngModel)]="correo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="cerrarEditarCoordinador()">Guardar</button>
  </div>
</ng-template>

<!-- OffCanvas Detalles de Coordinación -->
<div class="offcanvas offcanvas-end canvasPrimario" [class.show]="showCanvasDetalle"
  [class.offcanvas-bajar]="showCanvasEdicionOfna" ngtabindex="-1" id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h1>Detalles</h1>
    <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
      (click)="cerrarCanvas(1)"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
  </div>
  <div class="offcanvas-body">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <label for="" class="control-label">Oficina Regional:</label>
            <span> Baja California-Noroeste-Pacifico</span>
          </div>
          <div class="col-sm-6">
            <label for="" class="control-label">Coordinador Regional:</label>
            <span> Saul Alejandro vega Pompa </span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-hover">
              <thead>
                <tr class="table-secondary">
                  <th>No.</th>
                  <th>Oficina</th>
                  <th>Correo</th>
                  <th>Dirección</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataTableOficina">
                  <th> {{item.idOfna}} </th>
                  <th> {{item.tx_ofnareg}} </th>
                  <th> {{item.tx_email}} </th>
                  <th> {{item.tx_direccion}} </th>
                  <th>
                    <button type="button" class="btn btn-link" (click)="abrirOffCanvas(2, item.idOfna)">
                      <i class="bi bi-pencil"></i>
                    </button>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Offcanvas Edición Oficina -->
<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showCanvasEdicionOfna" ngtabindex="-1"
  id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h1>Detalles</h1>
    <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
      (click)="cerrarCanvas(2)"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
  </div>
  <div class="offcanvas-body">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Oficina:</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Oficina" [(ngModel)]="oficina">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Correo:</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Correo" [(ngModel)]="correoOfna">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-footer">
    <div class="row">
      <div class="text-end">
        <button type="button" class="btn btn-positivo-modal btn-derecho mr-2" (click)="cerrarCanvas(2)">
          Guardar
        </button>
        <button class="btn btn-negativo-modal" style="margin-left: 0.5rem;" (click)="cerrarCanvasCancelar()"
          title="Ver">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>




<div class="offcanvas-backdrop fade show" *ngIf="showCanvasDetalle"></div>

<div class="offcanvas-backdrop fade show" *ngIf="showCanvasEdicionOfna"></div>