<div class="row">
  <div class="col-md-12 valoresCentrados title">
    <h5>
      Datos de la entrega del bien
      <button type="button" class="btn btn-link btn-title" (click)="mostrarDetalle()" data-toggle="tooltip" data-placement="top" title="Ver detalle">
        <i class="bi bi-caret-left-fill" *ngIf="verDetalle"></i>
        <i class="bi bi-caret-right-fill" *ngIf="!verDetalle"></i>
      </button>
    </h5>
  </div>
  <hr>

  <div class="col-md-6">
    <label for="nombre" class="form-label">Fecha de entrega del bien: </label>
    <span> 12/05/2023</span>
  </div>
  <div class="col-md-6">
    <label for="nombre" class="form-label">Estatus ATBAD: </label>
    <span> OTORGADO</span>
  </div>
  <div class="col-md-6">
    <label for="nombre" class="form-label">Estatus DG: </label>
    <span> OTORGADO</span>
  </div>
  <div class="col-md-6">
    <label for="nombre" class="form-label">Responsable: </label>
    <span> Yamilet</span>
  </div>

  <hr>
    <div class="col-sm-12">
        <h5>
          Observaciones Estatus ATBAD:
        </h5>
        <p>
          Mediante Correo electrónico de 23/02/2022 la FGR informó quien es el servidor público designado para recibir el vehículo.
        </p>
        <p>
          Mediante Correo electrónico de fecha 28/03/2022 el ATBD remitió la información del bien al CAB, para gestionar la autorización de uso del bien.
        </p>
        <p>
          Mediante oficio FGR/OM/DGCRAM/067/2023 del 13/02/2023 recibido en la ATBD el 14/02/2023 la FGR solicitó se informe el estado actual que guarda el procedimiento de asignación en comodato de los vehículos.
        </p>
    </div>


  <div class="offcanvas offcanvas-end canvasSecundario" [class.show]="verDetalle"  ngtabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h1>Aqui se muestra todo el detalle</h1>
      <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close" (click)="cerrarDetalle()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
  </div>
  </div>

  <div class="offcanvas-backdrop fade show" *ngIf="verDetalle "></div>


</div>
