<div class="row">
    <div class="col-md-12">
        <div class="col-sm-12">
            <div class="card" style="padding: 5px;">
                <div class="card-body row" style="padding: 15px 15px;">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 1"
                                (click)="cambioAccionDetalle(1)">Detalle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 2"
                                (click)="cambioAccionDetalle(2)">Documentos</a>
                        </li>
                    </ul>

                    <div class="row" *ngIf="accionDetalle == 1" style="margin-top: 15px;">
                       <!-- <sg-detalle [tipo]="tipo"></sg-detalle>    -->
                       <sg-detalle-propuesta [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-propuesta>                   
                    </div>
                    <!--------------------Documentacion-------------------->
                    <div class="row" class="mt-2" *ngIf="accionDetalle == 2" style="margin-top: 15px;">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="table-secondary">
                                        <th style="width: 5%;">#</th>
                                        <th style="width: 35%;">Tipo Documento</th>
                                        <th style="width: 25%;">Tipo de firma</th>
                                        <th style="width: 35%;" class="valoresCentrados">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of documentosCarga">
                                        <td>{{item.id}}</td>
                                        <td>{{item.nombreDocumento}}</td>
                                        <td>Electrónica</td>
                                        <td class="valoresCentrados">
                                            <!--------
                                            <button class="btn btn-link" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-title="Firmar" title="Firmar"
                                                (click)="openFirma(item.nombreDocumento)">
                                                <i class="bi bi-laptop"></i>
                                            </button>
                                             ------>
                                            <button class="btn btn-link" (click)="abrirPdf()" title="Ver">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                           
                                            <!---------
                                            <button class="btn btn-link"
                                                (click)="descargarDocumento(item.nombreDocumento)" title="Descargar">
                                                <i class="bi bi-download"></i>
                                            </button>
                                            --------->
                                            <button class="btn btn-link"
                                                (click)="cargarDocumento(item.nombreDocumento, 'cargarDocumento')"
                                                title="Cargar documento">
                                                <i class="bi bi-upload"></i>
                                            </button>
                                            <button class="btn btn-link"
                                                (click)="eliminarDocumento(item.nombreDocumento)" title="Eliminar">
                                                <i class="bi bi-x-circle"></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<!---Formulario-----Editar----->
<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showEditar" [class.bajar]="showObs" ngtabindex="-1"
    id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Editar</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarEditar()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">
                        <div class="col-md-12">
                            <label for="nombre" class="form-label">RFC:</label>
                            <span> PERJ920701AB1</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <span> Juan</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">CURP:</label>
                            <span> PEGJ920701HDFRRR00</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Apellido paterno:</label>
                            <span> Pérez</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Apellido materno:</label>
                            <span> Garcia</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Nacionalídad:</label>
                            <span> Mexicana</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Fecha de Nacimiento:</label>
                            <span> 01/07/1992</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Lugar de Nacimiento:</label>
                            <span> Ciudad de México</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Teléfono fijo:</label>
                            <span> (55) 1234-5678</span>
                        </div>

                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Teléfono móvil:</label>
                            <span> 55-9876-5432</span>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Correo electrónico:</label>
                            <span> juan.perez@example.com</span>
                        </div>
                    </div>
                </div>                     
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal" (click)="guardarCambios()">Guardar &nbsp; <em
                    class="bi bi-check-lg"></em> </button> &nbsp;
        </div>
    </div>
</div>
<div class="offcanvas-backdrop fade show" *ngIf="showDetalle"></div>
<div class="offcanvas-backdrop fade show" *ngIf="showEditar || showObs || showGenerarOficio"></div>




<!-- Modal vista previa -->
<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showDetalle" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Vista previa</h1>
        <div>
            <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
                (click)="cerrarDetalle()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
        </div>
    </div>
    <div class="offcanvas-body">
        <div class="row" *ngIf="tipoModal === 'verDocumento'">
            <p>Documento</p>
        </div>
        <div class="row" *ngIf="tipoModal === 'cargarDocumento'">
            <div class="col-sm-12">
                <label for="formFile" class="form-label"><i class="bi bi-upload"></i></label>
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>
    </div>
</div>




<!-- Modal carga documento -->
<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showCargaDocumento" ngtabindex="-1"
    id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1 style="visibility: hidden;">Titulo</h1>
        <button type="button" class="btn btn-negativo-modal boton-derecho" data-bs-dismiss="offcanvas"
            aria-label="Close" (click)="cerrarCargaDocumentos()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-sm-12">
                <!-- <label for="formFile" class="form-label"><em class="bi bi-upload"></em></label> -->
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal" (click)="uploadDocumento()">&nbsp; <em
                    class="bi bi-check-lg"></em> Subir
            </button> &nbsp;
        </div>
    </div>
</div>


<!---Formulario-----OFICIO----->
<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showGenerarOficio" [class.bajar]="showObs" ngtabindex="-1"
    id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>OFICIO</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarOficio()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">
                        <div class="col-sm-12 row">
                            <div class="col-md-12" style="text-align: center;">
                                <p class="valoresCentrados">
                                    Oficio N°
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-end">
                <button class="btn btn-positivo-modal boton-derecho" title="Firmar"
                (click)="openFirma()">
                    Firmar Oficio&nbsp;<i class="bi bi-pen"></i>
                </button>
            </div>
            <div>
                <button class="btn btn-negativo-modal boton-derecho" title="Descargar"
                (click)="descargarOficio('Oficio')">
                    Descargar&nbsp;<i class="bi bi-download"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal firma -->
<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showFirma" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Firma</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarFirma()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-sm-12 row" [formGroup]="FormularioConfirma">
                <div class="col-sm-8">
                    <label for="cert" class="control-label">Certificado (.cer):</label>
                    <div class="input-group">
                        <label for="cert" class="control-label" style="display: none">Certificado (.cer):</label>
                        <input class="form-control" type="text" placeholder="Ubicación del certificado" name="cert"
                            id="cert" size="25" readonly="readonly" value="{{certFileName}}" disabled>
                        <label for="fileCertificate" class="control-label" style="display: none">Certificado
                            (.cer):</label>
                        <input type="file" style="display: none" id="fileCertificate" accept=".cer"
                            (change)="onCertFileChange($event)" formControlName="key">
                        <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnCertificate" name="btnCertificate"
                                onclick="document.getElementById('fileCertificate').click();">Buscar</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <label for="key" class="control-label">Clave privada (.key):</label>
                    <div class="input-group">
                        <label for="key" class="control-label" style="display: none">Clave privada (.key):</label>
                        <input class="form-control" type="text" placeholder="Ubicación de la llave privada" name="key"
                            id="key" size="25" readonly="readonly" value="{{keyFileName}}" disabled>
                        <label for="filePrivateKey" class="control-label" style="display: none">Clave privada
                            (.key):</label>
                        <input type="file" style="display: none" id="filePrivateKey" accept=".key"
                            (change)="onKeyFileChange($event)" formControlName="cer">
                        <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnPrivateKey" name="btnPrivateKey"
                                onclick="document.getElementById('filePrivateKey').click();">Buscar</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <label for="contra" class="control-label">Contraseña de clave privada:</label>
                    <input type="password" class="form-control" id="contra" placeholder="Contraseña"
                        formControlName="contra">
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal" (click)="firmar()">Firmar &nbsp; <em
                    class="bi bi-check-lg"></em> </button> &nbsp;
        </div>
    </div>
</div>
