<div class="row">
    <div class="col-sm-12 valoresCentrados title">
      <h5>
        Nombramiento
        <button type="button" class="btn btn-link btn-title" (click)="mostrarDetalle()" data-toggle="tooltip" data-placement="top" title="Ver detalle">
          <i class="bi bi-caret-left-fill" *ngIf="verDetalle"></i>
          <i class="bi bi-caret-right-fill" *ngIf="!verDetalle"></i>
        </button>
      </h5>
    </div>
    <hr>
    <div class="col-sm-12">
        <label for="nombre" class="form-label">Numero de nombramiento: </label>
        <span> INDEP/DG/DCB/DEBI/125/2022</span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Fecha de nombramiento: </label>
        <span> 19/05/2022</span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Tipo de garantias: </label>
        <span> </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Valor del bien: </label>
        <span> $1,758,500 </span>
    </div>
    <div class="col-sm-12">
        <label for="nombre" class="form-label">Descripcion valor del bien: </label>
        <span> $758,000 POR LA UNIDAD Y 1,000,500 POR EL BLINDAJE  </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Referencia bancaria: </label>
        <span> - </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Contraprestación mensual sin iva: </label>
        <span> - </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Fecha Solicitud autirización DCB: </label>
        <span> 17/05/2022 </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Fecha autorización  DCB: </label>
        <span> 18/05/2022 </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Días para autorizar nombramiento DCB y firmas: </label>
        <span> - </span>
    </div>
    <div class="col-sm-12">
        <label for="nombre" class="form-label">Oficio de notificación de uso al depósitario: </label>
        <span> INDEP/DG/DCB/DEBI/CAB/255/2023 </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Fecha de oficio: </label>
        <span> 23/02/2023 </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Fecha envio de correo electrónico: </label>
        <span> - </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Dias para realizar la  notificación: </label>
        <span> - </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Fecha en que fue  modificado el depositario: </label>
        <span> - </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Fecha en que se remite póliza de seguro: </label>
        <span> 03/03/2023 </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Oficio asesor de seguros: </label>
        <span> CORREO ELECTRÓNICO </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Fecha de  oficio: </label>
        <span> 07/03/2023 </span>
    </div>
    <div class="col-sm-12">
        <label for="nombre" class="form-label">Observaciones: </label>
        <span> MEDIANTE CORREO ELECTRÓNICO DE FECHA 20/05/2022 SE SOLICITÓ AL ÁREA DE SEGUROS DE LA CAB INFORMAR EL MONTO A PAGAR POR LA PÓLIZA DE SEGURO DEL BIEN.

            MEDIANTE CORREO ELECTRÓNICO DE FECHA 31/05/2022 EL ÁREA DE SEGUROS DE LA CAB REMITIÓ LA PÓLIZA DE SEGURO DEL BIEN.
            
            MEDIANTE OFICIO INDEP/DG/DCB/DEBI/CAB/672/2022 DEL 31/05/2022 SE NOTIFICÓ A LA AUTORIZACIÓN DE USO DEL BIEN A LA FGR, ASIMISMO, SE SOLICITÓ EL PAGO DE LA PRIMA DE SEGURO DE LA PÓLIZA INSTITUCIONAL.
            
            MEDIANTE OFICIO FGR/OM/DGCRAM/0435/2022 DE FECHA 06/07/2022 RECIBIDO EN LA ATBD EL 11/07/2022, LA FGR, EN REFERENCIA AL OFICIO INDEP/DG/DCB/DEBI/CAB/672/2022, INFORMA QUE RESULTA IMPROCEDENTE REALIZAR EL PAGO DE LA PÓLIZA, POR LO QUE SOLICITA DAR CONTINUIDAD AL TRÁMITE DE LA SOLICITUD DEL BIEN.
            
            MEDIANTE OFICIO FGR/OM/DGCRAM/DCBDC/132/2023 DEL 02/03/2023 RECIBIDO EN LA ATBD EL 03/03/023, LA FGR REMITIÓ LA PÓLIZA DE SEGURO DEL BIEN.
            
            MEDIANTE CORREO ELECTRÓNICO DEL 14/03/2023 SE INFORMARON A LA FGR LAS OBSERVACIONES REALIZADAS POR EL ASESOR DE SEGUROS A LA PÓLIZA.
            
            MEDIANTE CORREO ELECTRÓNICO DEL 15/03/2023 LA FGR SEÑALÓ QUE LA INFORMACIÓN DEL VEHÍCULO ESTA DESGLOSADA EN EL CUERPO DE LA PÓLIZA Y DE LA MISMA MANERA EL TOTAL DE LAS COBERTURAS CONTRA CUALQUIER RIESGO, DE TAL FORMA SOLICITÓ SE PUNTUALICE ESPECÍFICAMENTE LAS CORRECCIONES PARA PODER INSTRUIR CON EXACTITUD A LA DIRECCIÓN DE RIESGOS Y ASEGURAMIENTOS.
            
            MEDIANTE CORREO ELECTRÓNICO DEL 21/03/2023 SE INFORMÓ A LA FGR QUE DE LA REVISIÓN AL DICTAMEN DEL ASESOR DE SEGUROS, SE CONSIDERA QUE LA PÓLIZA CUMPLE CON LA NORMATIVA APLICABLE, POR LO QUE EN BREVE SE ESTARÁ INSTRUYENDO LA ENTREGA DE BIEN. </span>
    </div>
    <div class="col-sm-12">
        <label for="nombre" class="form-label">Oficio de respuesta por parte del asesor de seguros: </label>
        <span> N.D. </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Fecha de recepción: </label>
        <span> 10/03/2023 </span>
    </div>
    <div class="col-sm-12">
        <label for="nombre" class="form-label">Observaciones de la cotizacion por parte del asesor de seguros: </label>
        <span> LA PÓLIZA CUBRE CON LO SOLICITADO YA QUE SE ENCUENTRA EN COBERTURA AMPLIA (COPIA DE CONOCIMIENTO). </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Fecha de correo avisdado a la DR: </label>
        <span> 27/03/2023 </span>
    </div>
    <div class="col-sm-6">
        <label for="nombre" class="form-label">Fecha de envio a DR para entrega: </label>
        <span> 12/05/2023 </span>
    </div>
    
</div>


<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showDetalleSolicitud" [class.bajar]="showDocumento" ngtabindex="-1" id="offcanvasSolicitud" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Detalle nombramiento</h1>
        <button type="button" class="btn btn-link btn-title" (click)="mostrarDetalle()" data-toggle="tooltip" data-placement="top" title="Ver detalle">
            <i class="bi bi-caret-left-fill" *ngIf="verDetalle"></i>
            <i class="bi bi-caret-right-fill" *ngIf="!verDetalle"></i>
          </button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">
                   

                    
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">

        </div>
    </div>
</div>

<div class="offcanvas-backdrop fade show" *ngIf=" showDetalleSolicitud"></div>