<div class="row">
    <h1>Administracion de Estados</h1>
    <div class="linea">
        <span class="cuadro"></span>
        <hr />
    </div>

    <div class="col-sm-12 mt-2">
        <div class="card">
            <div class="card-body">
                <div class="row" [formGroup]="FormularioBusqueda">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" for="clave-edo">Clave:</label>
                            <input class="form-control" id="clave-edo" placeholder="Clave" type="text"  formControlName="claveBuscar" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" for="descripcion-edo">Descripción:</label>
                            <input class="form-control" id="descripcion-edo" placeholder="Descripción" type="text"  formControlName="estadoBuscar" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary mergen-boton-top-25" (click)="obtenerEstados(null)" title="Buscar">
                            <em class="bi bi-search"></em> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2 mt-sm-4">
        <button class="btn btn-primary" (click)="abrirModal(contenidoModal, null)" title="Nuevo estado">
            <em class="bi bi-plus-circle-dotted"></em> Nuevo
        </button>
    </div>
    <div class="col-sm-10 mt-4">
        <sg-paginador (cambioRealizado)="obtenerEstados($event)" [listaDatos]="listaDatos" [propiedades]="propiedades"></sg-paginador>
    </div>

    <div class="col-sm-12 scroll-tabla" data-testid="edosTable">
        <table class="table table-hover">
            <thead>
                <tr class="table-secondary">
                    <th style="width: 5%;">Clave</th>
                    <th style="width: 65%;">Descripción</th>
                    <th style="width: 30%;" class="valoresCentrados">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of listaDatos">
                    <td >{{ dato.fnclaveentidad }}</td>
                    <td >{{ dato.fsdescripcion }}</td>
                    <td class="valoresCentrados">
                        <button class="btn btn-secundary" (click)="abrirModal(contenidoModal, dato)" title="Actualizar"
                            style="padding: 0px 12px">
                            <em class="bi bi-arrow-repeat"></em> Actualizar
                        </button>
                        <button class="btn btn-danger ms-1" (click)="abrirModalEliminar(contenidoModalEliminar, dato)" title="Eliminar"
                            style="padding: 0px 12px">
                            <em class="bi bi-trash3"></em> Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #contenidoModal let-modal>
    <div class="modal-header">
        <h2 class="mt-1 mb-1">{{ tituloModal }}</h2>
    </div>
    <div class="modal-body p-4">
        <div class="row" [formGroup]="FormularioModal">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="clave">Clave:</label>
                    <input class="form-control" id="clave" [class.is-invalid]="
                        this.FormularioModal.controls['clave'].status != 'VALID' &&
                        this.FormularioModal.controls['clave'].touched" placeholder="Clave" type="text" formControlName="clave" />
                </div>
                <div class="texto-invalido" *ngIf="this.FormularioModal.controls['clave'].status != 'VALID' &&
                    this.FormularioModal.controls['clave'].touched">
                    <p *ngIf="this.FormularioModal.get('clave')?.errors?.['required']">Clave es requerida</p>
                    <p *ngIf="this.FormularioModal.get('clave')?.errors?.['maxlength']">Clave debe tener máximo 2 caracteres</p>
                </div>
 
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="estado">Estado:</label>
                    <input class="form-control" id="estado" [class.is-invalid]="
                        this.FormularioModal.controls['estado'].status != 'VALID' &&
                        this.FormularioModal.controls['estado'].touched" placeholder="Estado" type="text" formControlName="estado" />
                </div>
                <div class="texto-invalido" *ngIf="this.FormularioModal.controls['estado'].status != 'VALID' &&
                    this.FormularioModal.controls['estado'].touched">
                    <p *ngIf="this.FormularioModal.get('estado')?.errors?.['required']">Estado es requerido</p>
                    <p *ngIf="this.FormularioModal.get('estado')?.errors?.['maxlength']">Estado debe tener máximo 40 caracteres</p>
                
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-negativo-modal" (click)="cerrarModal()">
            Cancelar
        </button>
        <button class="btn btn-positivo-modal"  [disabled]="this.FormularioModal.status === 'INVALID'" (click)="guardarRegistro()">
            Guardar
        </button>
    </div>
</ng-template>

<ng-template #contenidoModalEliminar let-modal>
    <div class="modal-body p-4">
        <div class="row">
            <div class="col-sm-2">
            </div>

            <div class="col-sm-6">
                <h2 class="mt-1 mb-1">{{preguntaEliminar}}</h2>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-negativo-modal" (click)="cerrarModal()">
            Cancelar
        </button>
        <button class="btn btn-positivo-modal" (click)="eliminarRegistro()">
            Eliminar
        </button>
    </div>
</ng-template>

<sg-spinner *ngIf="mostrarSpenner"></sg-spinner>