<div class="row">
    <div class="col-sm-6">
        <label for="bien" class="control-label">Número de registro institucional: </label>
        <span> 269 </span>
    </div>

    <div class="col-sm-6">
        <label for="fecha" class="control-label">Fecha de Registro:</label>
        <span> {{fechaActual}} </span>
        <!-- <input type="text" class="form-control" id="fecha" placeholder="Fecha de registro" formControlName="fecha"> -->
    </div>

    <hr>
    <div class="col-sm-6">
        <label for="depositario" class="control-label">Numero de nombramiento:</label>
        <span> INDEP/DG/DCB/DEBI/125/2022	 </span>
    </div>
    <div class="col-sm-6">
        <label for="desc" class="control-label">Ubicación del bien:</label>
        <span> Aguascalientes </span>
    </div>
    <div class="col-sm-12 text-justify">
        <label for="desc" class="control-label">Descripcion del bien:</label>
        <span> VEHÍCULO BLINDADO, JEEP, GRAND CHEROKEE, 2012, NÚMERO DE SERIE 1C4RJFDJ5CC196997, COLOR NEGRO, SIN PLACAS DE CIRCULACIÓN. </span>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <label for="" class="control-label">Fecha último {{tipoInforme}}: </label>
        <span> {{fechaActual}} </span>
    </div>
    <hr>
</div>
