<div class="row">
    <div class="col-md-12">
        <div class="col-sm-12">
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="Acciondetalle == 1"
                            (click)="Cambioacciondetalle(1)">Detalle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="Acciondetalle == 2"
                            (click)="Cambioacciondetalle(2)">Anexos</a>
                    </li>
                </ul>

                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body row" style="padding: 0px 5px;">
                            <div class="col-sm-3">
                                <label for="busqueda" class="form-label">Búsqueda</label>
                                <input type="text" class="form-control" id="busqueda" placeholder="Búsqueda">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary" title="fecha" style="margin-top: 32px;">
                                    <em class="bi bi-search"></em>
                                </button>
                            </div>


                            <div class="row" class="mt-2" *ngIf="Acciondetalle == 1" style="margin-top: 15px;">
                                <div>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr class="table-secondary">
                                                <th style="width: 50%;">Documento</th>
                                                <th style="width: 50%;" class="valoresCentrados">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dato of Datosdocumentos">
                                                <td>{{dato.Nombredoc}}</td>
                                                
                                                <td class="valoresCentrados">
                                                    
                                                    <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                                                        data-placement="top" title="Vista previa"
                                                        (click)="Openvistapreviadocumento('documento', 'verDocumento')">
                                                        <em style="color: blue;" class="bi bi-eye"></em>
                                                    </button>      
                                                    
                                                    
        
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>


                            <div class="row" class="mt-2" *ngIf="Acciondetalle == 2" style="margin-top: 15px;">
                                <div class="card-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr class="table-secondary">
                                                <th style="width: 50%;">Anexos</th>
                                                <th style="width: 50%;" class="valoresCentrados">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dato of Datosdocumentos">
                                                <td>{{dato.Nombredoc}}</td>
                                                
                                                <td class="valoresCentrados">
                                                    
                                                    <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                                                        data-placement="top" title="Vista previa"
                                                        (click)="Openvistapreviadocumento('documento', 'verDocumento')">
                                                        <em style="color: blue;" class="bi bi-eye"></em>
                                                    </button>
                                    
                                                    <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                                                        data-placement="top" title="Descargar"
                                                        (click)="Descargaranexo()">
                                                        <em style="color: blue;" class="bi bi-box-arrow-in-down"></em>
                                                    </button>

                                                    <button class="btn btn-link"
                                                        (click)="Agregaranexo()"
                                                        title="Cargar anexo">
                                                        <i class="bi bi-upload"></i>
                                                    </button>
            
                                                    <button class="btn btn-link"
                                                        (click)="Sustituiranexo()"
                                                        title="Sustituir anexo">
                                                        <i class="bi bi-arrow-down-up"></i>
                                                    </button>

                                                </td>
                                            </tr>
                                         
                                        </tbody>
                                    </table>

                                                </div>
                                            </div>                             
                                        </div>
                                    </div>
                    <div class="row" *ngIf="Acciondetalle == 2">
                        <div class="col-md-12" style="display: flex; flex-direction: column;" >
                            <div class="input-group">
                                <button type="button" class="btn  btn-negativo-modal" (click)="Generaroficio()">Generar oficio</button>
                            </div>
                        </div>
                    </div><br />
                    <div class="offcanvas offcanvas-end canvasSecundario" [class.show]="Showgeneraroficio" ngtabindex="-1"
                        id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h1>Generar Oficio</h1>
                            <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
                                (click)="Cerrarcanvas('oficio')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="col-md-12">
                                <div class="col-sm-12">
                                    <div class="card" style="padding: 5px;">
                                        <div class="card-body row" style="padding: 15px 15px;">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link" [class.active]="Acciondetalle == 1"
                                                        (click)="Cambioacciondetalle(1)">Oficio</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" [class.active]="Acciondetalle == 2" (click)="Cambioacciondetalle(2)">
                                                        Recordatorio </a>
                                                </li>
                                            </ul>

                                            <div class="row" *ngIf="Acciondetalle == 1" style="margin-top: 15px;">
                                                <div class="col-sm-12">
                                                    <label for="detalleOficio" class="form-label">Detalle Oficio</label>
                                                    <textarea class="form-control" id="detalleOficio" rows="6"></textarea>
                                                </div>
                                            </div>

                                            <div class="row" *ngIf="Acciondetalle == 2" style="margin-top: 15px;">
                                                <div class="col-sm-12">
                                                    <label for="detalleRecordatorio" class="form-label">Detalle Recordatorio</label>
                                                    <textarea class="form-control" id="detalleRecordatorio" rows="6"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                           


                        </div>

                        <div class="offcanvas-footer">    
                            <div class="text-end">
                                <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="Guardaroficio()">
                                    Generar
                                </button>
                            </div>
                            
                        </div>
                        
                    </div>

                    <div class="offcanvas offcanvas-end canvasTerciario" [class.show]="Prevdocumento" ngtabindex="-1"
                        id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h1>Previsualización del Documento</h1>
                            <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
                                (click)="Cerrarcanvas('Prevdocumento')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <!-- <div class="card" style="padding: 5px;">
                                        <div class="card-body row" style="padding: 15px 15px;">
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="Showagregaranexo" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Cargar Anexo</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="Cerrarcanvas('Showagregaranexo')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="row">                 
                <div class="card-body row" style="padding: 15px 15px;">                
                    <div class="col-md-6">
                        <label for="anexo" class="control-label">Cargar Anexo</label>
                        <div class="input-group">
                            <label for="anexo" class="control-label" style="display: none" >Cargar Anexo</label>
                            <input class="form-control" type="text" placeholder="Ubicación del anexo" name="anexo" id="anexo" size="25" readonly="readonly" value="{{Anexofilename}}" disabled>
                            <label for="fileAnexo" class="control-label" style="display: none" >Cargar Anexo</label>
                            <input type="file" style="display: none" id="fileAnexo" accept=".pdf" (change)="Onanexofilechange($event)" formControlName="key">
                            <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnAnexo" name="btnAnexo" onclick="document.getElementById('fileAnexo').click();">Buscar</button>
                            </span>
                        </div> 
                    </div>

                    <!--<div class="col-md-6">
                        <label for="nombre" class="form-label">Previsualizar:</label>
                        <div class="input-group">
                            <button class="btn btn-link" (click)="previsualizarAnexo()" title="Ver">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div> 
                    </div>-->

                    <div class="col-sm-12">
                        <pdf-viewer [src]="Pdfsrcanexo" [render-text]="true" [original-size]="false"
                                style="width: 700px; height: 100vh;"></pdf-viewer>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">
            <div class="text-end">
                <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="Guardaranexo('Guardaranexo')">
                    Guardar
                  </button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="Showsustituiranexo" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Sustituir Anexo</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="Cerrarcanvas('Showsustituiranexo')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="row">                 
                <div class="card-body row" style="padding: 15px 15px;">                
                    <div class="col-md-6">
                        <label for="anexo" class="control-label">Cargar Anexo</label>
                        <div class="input-group">
                            <label for="anexo" class="control-label" style="display: none" >Cargar Anexo</label>
                            <input class="form-control" type="text" placeholder="Ubicación del anexo" name="anexo" id="anexo" size="25" readonly="readonly" value="{{Anexofilename}}" disabled>
                            <label for="fileAnexo" class="control-label" style="display: none" >Cargar Anexo</label>
                            <input type="file" style="display: none" id="fileAnexo" accept=".pdf" (change)="Onanexofilechange($event)" formControlName="key">
                            <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnAnexo" name="btnAnexo" onclick="document.getElementById('fileAnexo').click();">Buscar</button>
                            </span>
                        </div> 
                    </div>

                    <!--<div class="col-md-6">
                        <label for="nombre" class="form-label">Previsualizar:</label>
                        <div class="input-group">
                            <button class="btn btn-link" (click)="previsualizarAnexo()" title="Ver">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div> 
                    </div>-->

                    <div class="col-sm-12">
                        <pdf-viewer [src]="Pdfsrcanexo" [render-text]="true" [original-size]="false"
                                style="width: 700px; height: 100vh;"></pdf-viewer>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">
            <div class="text-end">
                <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="Guardaranexo('Sustituiranexo')">
                    Guardar
                  </button>
            </div>
        </div>
    </div>
</div>