<div class="row">
    <div class="col-sm-12">
        <h1>Administración de depositarías</h1>
        <hr class="red">
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header row" style="margin: 0px;">
                <div class="col-sm-4">
                    <label for="busqueda" class="control-label">Búsqueda</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"
                            placeholder="Nombramiento / Solicitante / Bien / Detalle" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2" (click)="buscar(null)"
                            title="Buscar">
                            <em class="bi bi-search">Buscar</em>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body" style="padding: 0px 5px;" style="overflow-x: scroll;">
                <div class="row">
                    <table class="table table-hover scroll-tabla">
                        <thead>
                            <tr class="table-secondary">
                                <th>Nombramiento</th>
                                <th>Solicitante</th>
                                <th>Información del bien</th>
                                <th>Informe</th>
                                <th>Contraprestacón</th>
                                <th>Póliza de Seguros</th>
                                <th>PREDIAL / TENENCIA / ESPACIO AEREO</th>
                                <th>AGUA </th>
                                <th>LUZ</th>
                                <th>OTROS DOCUMENTOS / OBSERVACIONES </th>
                                <!-- <th>Detalles</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of datos; let i = index">
                                <td>{{ item.nombramiento }}</td>
                                <td>{{ item.solicitante }}</td>
                                <td>{{ item.bienSolicitado }}</td>
                                <td>
                                    <button type="button" class="btn btn-link"
                                        (click)="openOffCanvas(1, 'Informe mensual')">
                                        <span class="badge rounded-pill text-bg-danger"
                                            [ngClass]="{'text-bg-danger': item.informeMensualNoEnviado >= 3 , 'text-bg-warning': item.informeMensualNoEnviado <= 3 && item.informeMensualNoEnviado > 0, 'text-bg-success': item.informeMensualNoEnviado === 0, }">{{item.informeMensualNoEnviado}}</span>
                                    </button>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-link"
                                        (click)="openOffCanvas(2, 'Contraprestación')">
                                        <span class="badge rounded-pill text-bg-danger"
                                            [ngClass]="{'text-bg-danger': item.adeudoContraprestacion >= 3, 'text-bg-warning': item.adeudoContraprestacion <= 3 && item.adeudoContraprestacion > 0, 'text-bg-success': item.adeudoContraprestacion === 0, }">{{item.adeudoContraprestacion}}</span>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-link"
                                        (click)="openOffCanvas(3, 'Poliza de seguro')">
                                        {{ item.tipoBien === 'Mueble' ? item.polizaSeguros : 'Vigente' }}
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-link" (click)="openOffCanvas(4, 'Predial')"
                                        *ngIf="item.tipoBien === 'Inmueble'">
                                        <span class="badge rounded-pill text-bg-danger"
                                            [ngClass]="{'text-bg-danger': item.adeudoPredial >= 3, 'text-bg-warning': item.adeudoPredial <= 3 && item.adeudoPredial > 0, 'text-bg-success': item.adeudoPredial === 0, }">{{item.adeudoPredial}}</span>
                                    </button>
                                    <button type="button" class="btn btn-link" (click)="openOffCanvas(4, 'Tenencia')"
                                        *ngIf="item.tipoBien === 'Mueble'">
                                        <span class="badge rounded-pill text-bg-danger"
                                            [ngClass]="{'text-bg-danger': item.adeudoTenencia >= 3, 'text-bg-warning': item.adeudoTenencia <= 3 && item.adeudoTenencia > 0, 'text-bg-success': item.adeudoTenencia === 0, }">{{item.adeudoTenencia}}</span>
                                    </button>
                                </td>
                                <td [ngClass]="{}">
                                    <button type="button" class="btn btn-link" [disabled]="item.tipoBien != 'Inmueble'"
                                        (click)="openOffCanvas(5, 'Agua')">
                                        <span class="badge rounded-pill text-bg-danger"
                                            [ngClass]="{'text-bg-danger': item.adeudoAgua >= 3, 'text-bg-warning': item.adeudoAgua <= 3 && item.adeudoAgua > 0, 'text-bg-success': item.adeudoAgua === 0, }">{{item.tipoBien
                                            === 'Inmueble' ? item.adeudoAgua : 'NA'}}</span>
                                    </button>

                                </td>
                                <td>
                                    <button type="button" class="btn btn-link" [disabled]="item.tipoBien != 'Inmueble'"
                                        (click)="openOffCanvas(6,'Luz')">
                                        <span class="badge rounded-pill text-bg-danger"
                                            [ngClass]="{'text-bg-danger': item.adeudoLuz >= 3 , 'text-bg-warning': item.adeudoLuz <= 3 && item.adeudoLuz > 0, 'text-bg-success': item.adeudoLuz === 0, }">{{item.tipoBien
                                            === 'Inmueble' ? item.adeudoLuz : 'NA'}}</span>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-link" (click)="openOffCanvas(7, 'Otros')">
                                        <span class="badge rounded-pill text-bg-danger"
                                            [ngClass]="{'text-bg-danger': item.otrosDocumentos >= 3, 'text-bg-warning': item.otrosDocumentos <= 3 && item.otrosDocumentos > 0, 'text-bg-success': item.otrosDocumentos === 0, }">{{item.otrosDocumentos}}</span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end canvasPrimario" [class.show]="showInformacion" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4 class="modal-title" id="modal-basic-title"> {{nombreTipoPago}}</h4>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="closeOffCanvas()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="col-md-12">
            <div class="card" style="padding: 5px;">
                <div class="card-body row" style="padding: 15px 15px;">
                  <sg-informe-mensual-tabla *ngIf="tipoInforme === 1"></sg-informe-mensual-tabla>
                  <sg-pago-agua *ngIf="tipoInforme === 5"></sg-pago-agua>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end btn-foot">
            <!-- <button type="button" class="btn btn-primary" (click)="guardarInformeMensual()">Guardar</button> -->
        </div>
    </div>

</div>

<div class="offcanvas-backdrop fade show" *ngIf="showInformacion"></div>
