.btn-link:hover {
    color: #9d2449
}

.content-radio {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 1rem;
}

.ml-3 {
    margin-left: 3rem;
}

.lbl-radio {
    width: 25%;
}