<div class="row">
  <sg-detalle-solicitud [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-solicitud>
  <sg-detalle-prevalidacion [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-prevalidacion>
  <sg-detalle-bien [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-bien>
  <sg-detalle-opinion-tenica [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-opinion-tenica>
  <sg-detalle-nombramiento [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-nombramiento>
  <sg-detalle-entrega-bien [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-entrega-bien>
</div>




<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showDetalle" ngtabindex="-1" id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h1>'Detalle del bien' </h1>

    <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
      (click)="cerrarDetalle()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
  </div>
  <div class="offcanvas-body">
    <div class="row" *ngIf="tipoModal === 'detalleBien'">
      <div class="col-sm-12">
        <div id="carouselExample" class="carousel slide" *ngIf="listaImagenes.length > 0">
          <div class="carousel-inner">
            <div class="carousel-item" [class.active]="i === indiceActivoImagenes"
              *ngFor="let datos of listaImagenes; let i = index">
              <img [src]="datos.imagen" class="d-block w-100" alt="..." style="width: 100%; height: 350px;">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"
            (click)="cambiarImagen(-1)">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"
            (click)="cambiarImagen(1)">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-sm-12">
        <label for="nombre" class="form-label">Tipo del bien: </label>
        <span> {{objetoDetalle.t_bien}}</span>
      </div>
      <div class="col-sm-12">
        <label for="nombre" class="form-label">Subtipo del bien: </label>
        <span> {{objetoDetalle.subtipo}}</span>
      </div>
      <div class="col-sm-12">
        <label for="nombre" class="form-label">Direccion: </label>
        <span> {{objetoDetalle.b_numero}},
          {{objetoDetalle.ubicacion_almacen}}</span>
      </div>
      <div class="col-sm-12">
        <label for="nombre" class="form-label">Descripción: </label>
      </div>
      <div class="col-sm-12">
        <span> {{objetoDetalle.b_descripcion}}</span>
      </div>
    </div>

    <div class="row" *ngIf="tipoModal === 'verDocumento'">
      <p>Documento</p>

    </div>

    <div class="row" *ngIf="tipoModal === 'cargarDocumento'">
      <div class="col-sm-12">
        <label for="formFile" class="form-label"><i class="bi bi-upload"></i></label>
        <input class="form-control" type="file" id="formFile">

      </div>
    </div>

  </div>

</div>


<div class="offcanvas-backdrop fade show" *ngIf="showDetalle"></div>
