<div class="card" style="padding: 15px;">
  <div class="card-body">


    <div class="card">
      <div class="card-body row">
        <div class="col-sm-12 row">
          <h3>Solicitudes</h3>
        </div>
        <hr>
          <div class="row">
            <div class="col-sm-5">
              <label for="busqueda" class="form-label">Número máximo de solicitudes</label>
              <input type="text" class="form-control" id="busqueda" placeholder="5">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 mt-1">
              <label for="busqueda" class="form-label">Horario de atención</label>
              <select class="form-select" aria-label="Default select example" id="EntidadFederativa" readonly>
                <option selected value="1">6 pm</option>
                <option value="2">7 pm</option>
                <option value="3">8 pm</option>
            </select>
            </div>
          </div>
        
      </div>
    </div>

    <div class="card">
      <div class="card-body row">
        <div class="col-md-12 ">
          <h3>Firmas</h3>
        </div>
        <hr>
      <div class="row">
        <div class="col-sm-5">
          <label for="busqueda" class="form-label">Firmante DG</label>
          <input type="text" class="form-control" id="busqueda" placeholder="Nombre de firma">
        </div>

        <div class="col-sm-5">
          <label for="busqueda" class="form-label">Firmante CDB</label>
          <input type="text" class="form-control" id="busqueda" placeholder="Nombre de firma">
        </div>

        <div class="col-sm-5">
          <label for="busqueda" class="form-label">Firmante DEBI</label>
          <input type="text" class="form-control" id="busqueda" placeholder="Nombre de firma">
        </div>

        <div class="col-sm-5">
          <label for="busqueda" class="form-label">Firmante CAB</label>
          <input type="text" class="form-control" id="busqueda" placeholder="Nombre de firma">
        </div>

        <div class="col-sm-5">
          <label for="busqueda" class="form-label">Firmante ATDB</label>
          <input type="text" class="form-control" id="busqueda" placeholder="Nombre de firma">
        </div>

        <div class="col-sm-5">
          <label for="busqueda" class="form-label">Firmante AGS</label>
          <input type="text" class="form-control" id="busqueda" placeholder="Nombre de firma">
        </div>
      </div>

      </div>
    </div>
    <button class="btn btn-primary boton-derecho mb-2">Guardar</button>
  </div>
</div>


