<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="card" style="padding: 5px;">
            <div class="card-body row" style="padding: 15px 15px;">
                <h5>
                    Validación de registro de propuesta
                </h5>
            </div>
            <tbody>
                <tr>
                    <th class="col-sm-6">
                        <div>
                            <h3><span> Propuesta {{ datosPropuesta.IdPropuesta }}</span></h3>
                            <h3><span>{{ datosPropuesta.RemitentePro }}</span></h3>
                        </div>
                    </th>
                    &nbsp;
                    <th  class="col-sm-6">
                        <div>
                            <label for="pagoCompra" class="form-label">Pago/Compra&nbsp;</label>
                            <select class="form-select" aria-label="Default select example" id="seccionAdd">
                                <option selected> {{ datosPropuesta.pagoCompra }}</option>
                                <option value="1">Pago</option>
                                <option value="2">Compra</option>
                            </select>
                           
                        </div>
                    </th>
                </tr>

                <tr>
                    <th class="col-sm-6">
                        <div>
                            <label for="fechaRecepcion" class="form-label">Fecha de recepción en el INDEP&nbsp;</label>
                            <input type="text" class="form-control" id="fecharecepcion" value="{{ datosPropuesta.fechaRecepcion}}">
                        </div>
                    </th>
                    &nbsp;
                    <th class="col-sm-6">
                        <div>
                            <label for="remitentePro" class="form-label">Remitente propuesta:&nbsp;</label>
                            <input type="text" class="form-control" id="remitente" placeholder="Remitente" value="{{ datosPropuesta.RemitentePro }}">
                        </div>
                    </th>
                </tr>

                <tr>
                    <th class="col-sm-6">
                        <div>
                            <label for="fechaPropuesta" class="form-label">Fecha recepción de coordinación de recuperación de cartera y activos&nbsp;</label>
                            <input type="text" class="form-control" id="fecharecepcion" placeholder="fecha de recepcion" value="{{ datosPropuesta.fechaPropuesta }}">
                        </div>
                    </th>
                    &nbsp;
                    <th class="col-sm-6">
                        <div>
                            <label for="montoletraMXN" class="form-label">Monto de propuesta con letra pesos&nbsp;</label>
                            <input type="text" class="form-control" id="montoletraMXN" placeholder="Monto letra" value="{{ datosPropuesta.montoletraMXN }}">
                        </div>
                    </th>
                </tr>
                <tr>
                    <th class="col-sm-6">
                        <div>
                            <label for="fechaDocumentos" class="form-label">Fecha del documento&nbsp;</label>
                            <input type="text" class="form-control" id="fechaDocumento" placeholder="fecha de documento" value="{{ datosPropuesta.fechaDocumentos }}">
                        </div>
                    </th>
                    &nbsp;
                    <th class="col-sm-6">
                        <div>
                            <label for="montoletraUSD" class="form-label">Monto propuesta con letra dólares&nbsp;</label>
                            <input type="text" class="form-control" id="montoletraUSD" placeholder="monto letra" value="{{ datosPropuesta.montoletraUSD }}">
                        </div>
                    </th>
                </tr>
                <tr>
                    <th class="col-sm-6">
                        <div>
                            <label for="tipoCartera" class="form-label">Tipo cartera automático del acreditado&nbsp;</label>
                            <select class="form-select" aria-label="Default select example" id="tipoCartera">
                                <option selected>{{ datosPropuesta.tipoCartera }}</option>
                                <option value="1">crediticia de consumo</option>
                                <option value="2">crediticia comercial</option>
                                <option value="3">crediticia de vivienda</option>
                            </select>
                            
                        </div>
                    </th>
                    &nbsp;
                    <th class="col-sm-6">
                        <div>
                            <label for="plazaSoli" class="form-label">Plazo solicitado&nbsp;</label>
                            <input type="text" class="form-control" id="plazo" placeholder="Plazo solicitado" value="{{ datosPropuesta.plazaSoli }}">
                        </div>
                    </th>
                </tr>
                <tr>
                    <th class="col-sm-6">
                        <div>
                            <label for="montoMXN" class="form-label">Monto propuesta pesos&nbsp;</label>
                            <input type="text" class="form-control" id="montoMXN" placeholder="monto MXN" value="{{datosPropuesta.montoMXN}}">
                        </div>
                    </th>
                    &nbsp;
                    <th class="col-sm-6">
                        <div>
                            <label for="NumVolante" class="form-label">Númenro de volante&nbsp;</label>
                            <input type="text" class="form-control" id="volante" placeholder="Numero volante" value="{{datosPropuesta.NumVolante}}">
                        </div>
                    </th>
                </tr>
                <tr>
                    <th class="col-sm-6">
                        <div>
                            <label for="montoletraUSD" class="form-label">Monto propuesta dólares&nbsp;</label>
                            <input type="text" class="form-control" id="montoUSD" placeholder="monto USD" value="{{datosPropuesta.montoletraUSD}}">
                        </div>
                    </th>
                    &nbsp;
                    <th class="col-sm-6">
                        <div>
                            <label for="capturo" class="form-label">Capturó:</label>
                            <input type="text" class="form-control" id="capturo" placeholder="Andrea Villavicencio" disabled> 
                        </div>
                    </th>
                </tr>
                <tr>
                    <th class="col-sm-6">
                        <div>
                            <label for="fecha" class="form-label">Fecha:</label>
                            <input type="text" class="form-control" id="capturo" placeholder="22/02/2023" disabled> 
                        </div>
                    </th>
                    &nbsp;
                    <th class="col-sm-6">
                        <div>
                            <label for="hora" class="form-label">Hora:</label>
                            <input type="text" class="form-control" id="capturo" placeholder="12:23:34" disabled> 
                        </div>
                    </th>
                </tr>
                <hr>
                <div class="col-sm-6">
                    <label for="cometarios" class="control-label">Comentarios</label>
                    <input type="text" class="form-control" id="comentarios" placeholder="monto USD" value="{{datosPropuesta.comentarios}}">
                </div>    
            </tbody>                    
        </div>                     
    </div>
</div>
