<div class="row">
    <div class="col-md-12">
        <div class="col-sm-12">
            <sg-propuesta-del-bien [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-propuesta-del-bien>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showObs" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-body">
        <h1>{{tituloObs}}</h1>
        <hr class="red" />
        <div class="col-sm-12">
            <label for="obs" class="form-label">Observaciones</label>
            <textarea class="form-control" id="obs" rows="6"></textarea>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal" (click)="cerrarCamvasObsConfirmar()">Aceptar &nbsp; <em
                    class="bi bi-check-lg"></em> </button> &nbsp;
            <button type="button" class="btn btn-negativo-modal" (click)="cerrarCamvasObs()">Cancelar &nbsp; <em
                    class="bi bi-backspace"></em> </button> &nbsp;
        </div>
    </div>
</div>

<div class="offcanvas-backdrop fade show" *ngIf="showObs"></div>