<div class="row">
  <div class="col-sm-12">
    <h1>Administración</h1>
    <hr class="red">
  </div>
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="accionDetalle == 1"
            (click)="cambioAccionDetalle(1)">Catálogo</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [class.active]="accionDetalle == 2"
              (click)="cambioAccionDetalle(2)">Contraprestación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="accionDetalle == 3"
            (click)="cambioAccionDetalle(3)">Días de Asueto</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="accionDetalle == 4"
            (click)="cambioAccionDetalle(4)">Configuración</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [class.active]="accionDetalle == 5"
              (click)="cambioAccionDetalle(5)">Validación CURP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="accionDetalle == 6"
            (click)="cambioAccionDetalle(6)">Bitácora</a>
      </li>
    </ul>


    <div class="col-md-12 contenido" *ngIf="accionDetalle == 1">
        <p class="control-label">Catálogo 3</p>

      <div class="col-sm-12">
        <div class="col-md-4">
          <label class="control-label">Nombre Catálogo</label>
        </div>
        <div class="col-sm-3">
          <select class="form-select" aria-label="Default select example">
            <option selected>Tipo de Remitente</option>
            <option value="1">Uno</option>
            <option value="2">Dos</option>
            <option value="3">Tres</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary " data-toggle="tooltip" data-placement="top"
            title="Registrar Informe" (click)="addCatologo()">
            <i id="circle" class="bi bi-plus-circle"></i> Agregar Catalogo
        </button>
      </div>
      <div class="card-body">
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>No.</th>
                <th>Descripción</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataInforme">
                <th>{{ item.id }}</th>
                <th>{{ item.descripcion }} </th>
                <th>
                <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                  data-placement="top" title="Ver"
                  (click)="openVistaPrevia(item.id, '', item.descripcion)">
                  <em style="color: blue;" class="bi bi-eye"></em>
                </button>
                <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                  data-placement="top" title="Actualizar"
                  (click)="openVistaPrevia(item.id, 'pendientes', item.descripcion)">
                  <em style="color: blue;" class="bi bi-arrow-clockwise"></em>
                </button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12 contenido" *ngIf="accionDetalle == 2">
      <sg-contraprestacion></sg-contraprestacion>
    </div>

    <div class="col-md-12 contenido" *ngIf="accionDetalle == 3">
      <sg-dias-asueto></sg-dias-asueto>
    </div>

    <div class="col-md-12 contenido" *ngIf="accionDetalle == 4">
      <sg-configuracion></sg-configuracion>
    </div>

    <div class="col-md-12 contenido" *ngIf="accionDetalle == 5">
      <sg-curp-validacion></sg-curp-validacion>
    </div>

    <div class="col-md-12 contenido" *ngIf="accionDetalle == 6">
      <sg-bitacora></sg-bitacora>
    </div>

  </div>
</div>
<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showDocument" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Vista previa</h1>
        <div>
            <!-- <button class="btn btn-positivo-modal mr-1" title="Descargar" (click)="descarga()">Descargar
                <i class="bi bi-cloud-download"></i>
            </button> -->
            <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
                (click)="cerrarVerPago()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em>
            </button>
        </div>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-sm-12 centrar-contenido">
                <p>Documento </p>
                <!-- <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
                    style="width: 700px; height: 100vh;"></pdf-viewer> -->
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
        </div>
    </div>
</div>

<div class="offcanvas-backdrop fade show" *ngIf="showDocument"></div>
