.btn-link:hover {
  color: #9d2449
}
.ul-style {
  color: #000 !important;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: #d8b133 !important;
  cursor: pointer;
}


.nav-link.active {
  color: #9d2449 !important;

}
.margin{
  margin: 40px 0px 0px 0px;
}

li {
  list-style-type: none;
}
