<div class="row">
    <div class="col-sm-12">
        <h1>Administración</h1>
        <hr class="red">
    </div>

    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [class.active]="accionDetalle == 1"
                    (click)="cambioAccionDetalle(1)">Módulo Alertas</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [class.active]="accionDetalle == 2"
                    (click)="cambioAccionDetalle(2)">Módulo Bitácoras</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" [class.active]="accionDetalle == 3"
                    (click)="cambioAccionDetalle(3)">Módulo Catálogos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [class.active]="accionDetalle == 4"
                    (click)="cambioAccionDetalle(4)">Módulo Valor COPER</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [class.active]="accionDetalle == 5"
                    (click)="cambioAccionDetalle(5)">Módulo Roles y Perfiles</a>
            </li>
        </ul>

        <div class="col-md-12 contenido" *ngIf="accionDetalle == 1">
            <sg-alertas></sg-alertas>
        </div>

        <div class="col-md-12 contenido" *ngIf="accionDetalle == 2">
            <sg-bitacora></sg-bitacora>
        </div>

        <div class="col-md-12 contenido" *ngIf="accionDetalle == 3">
            <sg-catalogos></sg-catalogos>
        </div>
        
        <div class="col-md-12 contenido" *ngIf="accionDetalle == 4">
            <sg-valor-coper></sg-valor-coper>
        </div>

        <div class="col-md-12 contenido" *ngIf="accionDetalle == 5">
            <sg-rolesPerfiles></sg-rolesPerfiles>
        </div>
        
    </div>
</div>


