<div class="row">
  <div class="col-sm-12">
    <h1>Catalogo</h1>
    <hr class="red">
  </div>
  
  <div class="col-md-12 contenido">
    <div class="card">
      <div class="card-body row" style="padding: 0px 5px;">
        
    <div class="col-sm-12">
      
      <div class="col-md-4">
        <label class="control-label">Nombre&nbsp;catálogo</label>
      </div>
      <div>
        <select [(ngModel)]="Seleccionado" (change)="cambioSeleccion(Seleccionado)">
          <option [value]="dato.idCatalogo" *ngFor="let dato of listaCatalogos">
           {{dato.descripcion}}
          </option>
        </select>
       
      </div>
    </div>
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary " data-toggle="tooltip" data-placement="top" (click)="agregarCatalogo()">
        <i id="circle" class="bi bi-plus-circle"></i> Agregar catálogo
    </button>
  </div>
      </div>
    </div>



  <div class="col-sm-12" >
    <div class="col-sm-12 scroll-tabla" data-testid="edosTable">
      <table class="table table-hover">
        <thead>
          <tr class="table-secondary">
            <th>No.</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reg of listaRegistros">
            <td>{{reg.idRegistro}}</td>
            <td>{{reg.descripcionReg}}</td>
            
            <td>
              <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                data-placement="top" title="Editar" (click)="EditarCatalogo()">
                <em style="color: blue;" class="bi bi-arrow-clockwise"></em>
              </button>
              <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
              data-placement="top" title="Eliminar" (click)="Elimimarcatalogo()">
              <em style="color: blue;" class="bi bi-x-square"></em>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>   
    <div class="offcanvas-backdrop fade show" *ngIf="showAgregarCatalogo || showEditarCatalogo"></div>
    

    <!-- OffCanvas Agregar catalogo -->
<div class="offcanvas offcanvas-end canvasPrimario" [class.show]="showAgregarCatalogo" [class.offcanvas-bajar]=""
ngtabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
  <h1>Agregar </h1>
  <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
    (click)="cerrarOffCanvas(1)"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
</div>
<div class="offcanvas-body">
  <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col-sm-6">
                  <label for="idRegistro" class="control-label">N° de registro</label>
                  <input type="text" class="form-control" id="idRegistro">
              </div>
              <div class="col-sm-6">
                  <label for="descripcion" class="control-label">Descripción</label>
                  <input type="text" class="form-control" id="descripcion">
              </div>
          </div>
      </div>
  </div>
</div>

<div class="offcanvas-footer">
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-neutral-modal boton-derecho" (click)="cerrarOffCanvas(2)">
        Cancelar
      </button>
      <button type="button" class="btn btn-negativo-modal boton-derecho" (click)="guadarArchivo()">
        Guardar
      </button>
    </div>
  </div>
</div>
</div>


    <!-- OffCanvas Editar Catalogos -->
    <div class="offcanvas offcanvas-end canvasPrimario" [class.show]="showEditarCatalogo" [class.offcanvas-bajar]=""
    ngtabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h1>Editar registro </h1>
      <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
        (click)="cerrarOffCanvas(2)"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
      <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-6">
                      <label for="idRegistro" class="control-label">N° de registro</label>
                      <input type="text" class="form-control" id="idRegistro" value="1" disabled>
                  </div>
                  <div class="col-sm-6">
                      <label for="descripcion" class="control-label">Descripción</label>
                      <input type="text" class="form-control" id="descripcion" value="Motivo 1">
                  </div>
              </div>
          </div>
      </div>
    </div>
    
    <div class="offcanvas-footer">
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-neutral-modal boton-derecho" (click)="cerrarOffCanvas(1)">
            Cancelar
          </button>
          <button type="button" class="btn btn-negativo-modal boton-derecho" (click)="actualizarcatalogo()">
            Guardar
          </button>
        </div>
      </div>
    </div>
    </div>


