<div class="row">
    <div class="col-md-12">
        <div class="col sm-12">
            <div class="card" style="padding: 5px;">
                <div class="card-body row">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 1"
                                (click)="cambioAccionDetalle(1)">Detalle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 2"
                                (click)="cambioAccionDetalle(2)">Documentos</a>
                        </li>
                    </ul>

                    <div class="row" *ngIf="accionDetalle == 1" style="margin-top: 15px;">
                        
                        <sg-detalle-siaraf [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-siaraf>  
                        <sg-detalle-siaraf [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-siaraf>
                        <sg-detalle-siaraf [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-siaraf>                 
                     </div>

                     <div class="row" class="mt-2" *ngIf="accionDetalle == 2" style="margin-top: 15px;">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="table-secondary">
                                        <th style="width: 50%;">Documento</th>
                                        <th style="width: 50%;" class="valoresCentrados">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dato of datosDocumentos">
                                        <td>{{dato.nombreDoc}}</td>
                                        
                                        <td class="valoresCentrados">
                                            
                                            <button class="btn btn-link" (click)="abrirPdf()" title="Ver">
                                                <i class="bi bi-eye"></i>
                                            </button>
                            
                                            <button class="btn btn-link"
                                                (click)="cargarDocumento(dato.nombreDoc, 'cargarDocumento')"
                                                title="Cargar documento">
                                                <i class="bi bi-upload"></i>
                                            </button>

                                            <button class="btn btn-link"
                                                (click)="eliminarDocumento(dato.nombreDoc)" title="Eliminar">
                                                <i class="bi bi-x-circle"></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group">
                        <button type="button" class="btn  btn-negativo-modal" (click)="generarOficio()">Generar oficio</button>
                    </div>

                    <div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showGenerarOficio" ngtabindex="-1"
                        id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h1>Generar Oficio</h1>
                            <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
                                (click)="cerrarCanvas('oficio')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="col-md-12">
                                <div class="col-sm-12">
                                    <div class="card" style="padding: 5px;">
                                        <div class="card-body row" style="padding: 15px 15px;">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link" [class.active]="accionDetalle == 1"
                                                        (click)="cambioAccionDetalle(1)">Oficio</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" [class.active]="accionDetalle == 2" (click)="cambioAccionDetalle(2)">
                                                        Recordatorio </a>
                                                </li>
                                            </ul>
                    
                                            <div class="row" *ngIf="accionDetalle == 1" style="margin-top: 15px;">
                                                <div class="col-sm-12">
                                                    <label for="detalleOficio" class="form-label">Detalle Oficio</label>
                                                    <textarea class="form-control" id="detalleOficio" rows="6"></textarea>
                                                </div>
                                            </div>
                    
                                            <div class="row" *ngIf="accionDetalle == 2" style="margin-top: 15px;">
                                                <div class="col-sm-12">
                                                    <label for="detalleRecordatorio" class="form-label">Detalle Recordatorio</label>
                                                    <textarea class="form-control" id="detalleRecordatorio" rows="6"></textarea>
                                                </div>
                                            </div>
                    
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>

                    </div>
                    

                </div> 
            </div>

            
        </div>
    </div>
</div>