<div class="row">
    <div class="col-md-12 mt-2">
        <div class="col-sm-10">
          <div class="card" style="padding: 8px;">
            <h2 class="m-2"> Descripción del bien </h2>
            <div class="card-body">
                <div class="card" style="padding: 15px;">
                    <div class="row">
                        <h3> Depositario </h3>
                        <hr>

                        <div class="col-auto mt-1">
                            <label for="folio" class="form-label">Nombre depositario:</label>
                        </div>
                        <div class="col-md-6" style="display: flex; flex-direction: column;">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="MUNICIPIO DE SANTA APOLONIA TEACALCO, TLAXCALA" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="padding: 15px;">
                    <div class="row">
                        <h3> Valor </h3>
                        <hr>

                        <div class="col-md-6 mt-1">
                            <label class="form-label">Aseguramiento:</label>
                            <div class="input-group col-md-3">
                                <input type="text" class="form-control" placeholder="$$$$$" disabled>
                            </div>
                        </div>
                        
                        <div class="col-md-6 mt-1">
                            <label class="form-label">Avalúo del bien por P.G.R.:</label>
                            <div class="input-group col-md-3">
                                <input type="text" class="form-control" placeholder="$ 790,000.00" disabled>
                            </div>
                        </div>
            
                        <div class="col-md-6 mt-1">
                            <label class="form-label">Estimación de valor del bien:</label>
                            <div class="input-group col-md-3">
                                <input type="text" class="form-control" placeholder="$$$$$" disabled>
                              </div>
                        </div>

                        <div class="col-md-6 mt-1">
                            <label class="form-label">Valor total:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="$ 790,000.00" disabled>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card" style="padding: 15px;">
                    <div class="row">
                        <h3> Descuento </h3>
                        <hr>

                        <div class="col-md-6 mt-1">
                            <label class="form-label">Base de contraprestación 1%:</label>
                            <div class="input-group col-md-3">
                                <input type="text" class="form-control" placeholder="$ 7,900.00" disabled>
                            </div>
                        </div>
                        
                        <div class="col-md-6 mt-1">
                            <label class="form-label">Descuento por ser bien asegurado 20%:</label>
                            <div class="input-group col-md-3">
                                <input type="text" class="form-control" placeholder="$ 1,580.00" disabled>
                            </div>
                        </div>
            
                        <div class="col-md-6 mt-1">
                            <label class="form-label">Descuento base neto:</label>
                            <div class="input-group col-md-3">
                                <input type="text" class="form-control" placeholder="$$$$$" disabled>
                              </div>
                        </div>

                        <div class="col-md-6 mt-1">
                            <label class="form-label">Descuento adicional:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="$$$$$" disabled>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <div class="card" style="padding: 15px;">
                    <div class="row">
                      <h3>Datos adicionales</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label mb-3">Propietario 100%</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="P100" id="Sí">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        Sí
                                        </label>
                                    </div>
                         
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="P100" id="No" checked>
                                        <label class="form-check-label">
                                        No
                                        </label>
                                    </div>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label mb-3">Institución judicial o administrativa 100%</label>
            
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="IJA" id="Sí">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        Sí
                                        </label>
                                    </div>
                                </div>
              
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="IJA" id="No" checked>
                                        <label class="form-check-label">
                                         No
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label mt-3">Estados o municipios 80%</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="EM" id="Sí">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        Sí
                                        </label>
                                    </div>
                         
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="EM" id="No" checked>
                                        <label class="form-check-label">
                                        No
                                        </label>
                                    </div>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label mt-3">100%</label>
            
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="100" id="Sí" checked>
                                        <label class="form-check-label" for="flexCheckDefault">
                                        Sí
                                        </label>
                                    </div>
                                </div>
              
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="100" id="No">
                                        <label class="form-check-label">
                                         No
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="control-label mt-3">Instituciones autorizadas para recibir donativos 80%</label>
            
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="IAD" id="Sí">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        Sí
                                        </label>
                                    </div>
                                </div>
              
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="IAD" id="No" checked>
                                        <label class="form-check-label">
                                         No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>                
                    </div>
                </div>

                <div class="card" style="padding: 15px;">
                    <div class="row">
                        <h3> Contraprestación </h3>
                        <hr>
                        <div class="row">
                            <div class="col-auto mt-1">
                                <label for="folio" class="form-label">Valor total de la contraprestación:</label>
                            </div>
                            <div class="col-md-6" style="display: flex; flex-direction: column;">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="$ 0.00 " disabled>
                                </div>
                            </div>
                        <div class="row mt-3">
                            <div class="col-auto mt-1">
                                <label for="folio" class="form-label">Propuesta económica del interesado:</label>
                            </div>
                            <div class="col-md-6" style="display: flex; flex-direction: column;">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder=" Ingrese un monto ">
                                </div>
                            </div>

                        </div>    
                       
                    </div>
                </div>

            </div>
          </div>
        </div>
        <button class="btn btn-primary boton-derecho mb-2">Siguiente</button>
    </div>    
</div>
