<div class="row">
    <div class="col-md-12">
        <div class="col-sm-12">
            <div class="card" style="padding: 5px;">
                <div class="card-body row" style="padding: 15px 15px;">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 1"
                                (click)="cambioAccionDetalle(1)">Detalle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 2"
                                (click)="cambioAccionDetalle(2)">Anexos</a>
                        </li>
                    </ul>

                    <div class="row" *ngIf="accionDetalle == 1" style="margin-top: 15px;">
                        <sg-detalle-solicitud [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-solicitud>
                        <sg-detalle-prevalidacion [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-prevalidacion>
                        <sg-detalle-bien [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-bien>
                        <sg-detalle-opinion-tenica [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-opinion-tenica>
                    </div>

                    <div class="row" class="mt-2" *ngIf="accionDetalle == 2">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-secondary">
                                    <th style="width: 5%;">#</th>
                                    <th style="width: 30%;">Tipo Documento</th>
                                    <th style="width: 30;">Tipo de firma</th>
                                    <th style="width: 35%;" class="valoresCentrados">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let doc of documentos">
                                    <td>{{doc.id}}</td>
                                    <td>{{doc.tipoDocumento}}</td>
                                    <td>
                                        <div *ngIf="doc.tipoFirma">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="rbtn[{{doc.id}}]"
                                                    id="flexRadioDefault[{{doc.id}}]" value="electronica"
                                                    (change)="selectTipoFirma(doc.id)" [disabled]="!doc.firma">
                                                <label class="form-check-label" for="flexRadioDefault[{{doc.id}}]">
                                                    Electrónica
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="rbtn[{{doc.id}}]"
                                                    id="flexRadioDefault[{{doc.id}}]" value="autografa"
                                                    (change)="selectTipoFirma(doc.id)" [checked]="doc.firma"
                                                    [disabled]="!doc.firma">
                                                <label class="form-check-label" for="flexRadioDefault[{{doc.id}}]">
                                                    Autógrafa
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="valoresCentrados">
                                        <button class="btn btn-link" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Firmar" title="Firmar" (click)="openFirma()"
                                            [disabled]="!doc.firma && !doc.firmaElectronica || doc.firma && !doc.firmaElectronica">
                                            <i class="bi bi-laptop" *ngIf="doc.firmaElectronica"></i>
                                            <i class="bi bi-pen" *ngIf="!doc.firmaElectronica"></i>
                                        </button>
                                        <button class="btn btn-link"
                                            (click)="verDocumento(doc.tipoDocumento, 'verDocumento')" title="Ver"
                                            [disabled]="!doc.vistaPrevia">
                                            <i class="bi bi-eye"></i>
                                        </button>
                                        <button class="btn btn-link" (click)="descarga(doc.id)"
                                            [disabled]="!doc.downloadDoc" title="Descargar documento">
                                            <i class="bi bi-download"></i>
                                        </button>
                                        <button class="btn btn-link"
                                            (click)="cargarDocumento(doc.tipoDocumento, 'cargarDocumento')"
                                            title="Cargar documento" [disabled]="!doc.upDocumento">
                                            <i class="bi bi-upload"></i>
                                        </button>
                                        <button class="btn btn-link" (click)="eliminarDocumento(doc.tipoDocumento)"
                                            title="Eliminar" [disabled]="!doc.eliminar">
                                            <i class="bi bi-x-circle"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas Editar -->
<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showEditar" [class.bajar]="showDetalle"
    ngtabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Editar</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarEditar()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">

                        <sg-formulario-edicion></sg-formulario-edicion>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal" (click)="guardarOpinionTecnica()">Guardar &nbsp; <em
                    class="bi bi-check-lg"></em> </button> &nbsp;
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showDetalle" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>{{ (tipoModal === 'detalleBien') ? 'Detalle del bien' : this.documentoNombre }}</h1>

        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarDetalle()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="row" *ngIf="tipoModal === 'detalleBien'">
            <div class="col-sm-12">
                <div id="carouselExample" class="carousel slide" *ngIf="listaImagenes.length > 0">
                    <div class="carousel-inner">
                        <div class="carousel-item" [class.active]="i === indiceActivoImagenes"
                            *ngFor="let datos of listaImagenes; let i = index">
                            <img [src]="datos.imagen" class="d-block w-100" alt="..."
                                style="width: 100%; height: 350px;">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev" (click)="cambiarImagen(-1)">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next" (click)="cambiarImagen(1)">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-12">
                <label for="nombre" class="form-label">Tipo del bien: </label>
                <span> {{objetoDetalle.t_bien}}</span>
            </div>
            <div class="col-sm-12">
                <label for="nombre" class="form-label">Subtipo del bien: </label>
                <span> {{objetoDetalle.subtipo}}</span>
            </div>
            <div class="col-sm-12">
                <label for="nombre" class="form-label">Direccion: </label>
                <span> {{objetoDetalle.b_numero}},
                    {{objetoDetalle.ubicacion_almacen}}</span>
            </div>
            <div class="col-sm-12">
                <label for="nombre" class="form-label">Descripción: </label>
            </div>
            <div class="col-sm-12">
                <span> {{objetoDetalle.b_descripcion}}</span>
            </div>
        </div>

        <div class="row" *ngIf="tipoModal === 'verDocumento'">
            <p>Documento</p>

        </div>

        <div class="row" *ngIf="tipoModal === 'cargarDocumento'">
            <div class="col-sm-12">
                <label for="formFile" class="form-label"><em class="bi bi-upload"></em></label>
                <input class="form-control" type="file" id="formFile">

            </div>
        </div>

    </div>

</div>

<!-- OffCanvas Firmar -->
<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showFirma" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Firma</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarFirma()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-sm-12 row" [formGroup]="FormularioConfirma">
                <div class="col-sm-8">
                    <label for="cert" class="control-label">Certificado (.cer):</label>
                    <div class="input-group">
                        <label for="cert" class="control-label" style="display: none">Certificado (.cer):</label>
                        <input class="form-control" type="text" placeholder="Ubicación del certificado" name="cert"
                            id="cert" size="25" readonly="readonly" value="{{certFileName}}" disabled>
                        <label for="fileCertificate" class="control-label" style="display: none">Certificado
                            (.cer):</label>
                        <input type="file" style="display: none" id="fileCertificate" accept=".cer"
                            (change)="onCertFileChange($event)" formControlName="key">
                        <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnCertificate" name="btnCertificate"
                                onclick="document.getElementById('fileCertificate').click();">Buscar</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <label for="key" class="control-label">Clave privada (.key):</label>
                    <div class="input-group">
                        <label for="key" class="control-label" style="display: none">Clave privada (.key):</label>
                        <input class="form-control" type="text" placeholder="Ubicación de la llave privada" name="key"
                            id="key" size="25" readonly="readonly" value="{{keyFileName}}" disabled>
                        <label for="filePrivateKey" class="control-label" style="display: none">Clave privada
                            (.key):</label>
                        <input type="file" style="display: none" id="filePrivateKey" accept=".key"
                            (change)="onKeyFileChange($event)" formControlName="cer">
                        <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnPrivateKey" name="btnPrivateKey"
                                onclick="document.getElementById('filePrivateKey').click();">Buscar</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <label for="contra" class="control-label">Contraseña de clave privada:</label>
                    <input type="password" class="form-control" id="contra" placeholder="Contraseña"
                        formControlName="contra">
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal" (click)="firmar()">Firmar &nbsp; <em
                    class="bi bi-check-lg"></em> </button> &nbsp;
        </div>
    </div>

</div>


<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showObs" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-body">
        <h1>{{tituloObs}}</h1>
        <hr class="red" />
        <div class="col-sm-12">
            <label for="obs" class="form-label">Observaciones</label>
            <textarea class="form-control" id="obs" rows="6"></textarea>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal" (click)="cerrarCamvasObsConfirmar()">Aceptar &nbsp; <em
                    class="bi bi-check-lg"></em> </button> &nbsp;
            <button type="button" class="btn btn-negativo-modal" (click)="cerrarCamvasObs()">Cancelar &nbsp; <em
                    class="bi bi-backspace"></em> </button> &nbsp;
        </div>
    </div>
</div>

<!-- Offcanvas pdf -->
<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showPdf" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>{{documentoNombre }}</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarPdf()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body" style=" overflow-y: hidden;">
        <div class="row">
            <div class="col-sm-12 centrar-contenido">
                <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
                    style="width: 700px; height: 100vh;"></pdf-viewer>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
        </div>
    </div>

</div>




<div class="offcanvas-backdrop fade show" *ngIf="showDetalle"></div>

<div class="offcanvas-backdrop fade show" ngtabindex="-1"  *ngIf="showEditar  ||  showObs || showFirma || showPdf"></div>