<div class="row">
  <div class="col-md-12 valoresCentrados title">
    <h5>
      Datos de la opinion técnica
      <button type="button" class="btn btn-link btn-title" (click)="mostrarDetalle()" data-toggle="tooltip" data-placement="top" title="Ver detalle">
        <i class="bi bi-caret-left-fill" *ngIf="verDetalle"></i>
        <i class="bi bi-caret-right-fill" *ngIf="!verDetalle"></i>
      </button>
    </h5>
  </div>
  <hr>
  <div class="col-md-6">
    <label for="nombre" class="form-label">Oficio Solicitud Opinión técnica: </label>
    <span> INDEP/DG/DCB/DEBI/CAB/093/2022</span>
  </div>
  <div class="col-md-6">
    <label for="nombre" class="form-label">Fecha oficio Solicitud O.T: </label>
    <span> 24/01/2022</span>
  </div>
  <div class="col-md-6">
    <label for="nombre" class="form-label">No. Oficio DR-O.T: </label>
    <span> DCCR/DECR/DRNE/ATJR/007/2022</span>
  </div>
  <div class="col-md-6">
    <label for="nombre" class="form-label">Fecha recepción O.T: </label>
    <span> 16/03/2022</span>
  </div>
  <div class="col-md-6">
    <label for="nombre" class="form-label">CR O OAR: </label>
    <span> Noreste</span>
  </div>

  <div class="offcanvas offcanvas-end canvasSecundario" [class.show]="verDetalle"  ngtabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h1>Aqui se muestra todo el detalle</h1>
      <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close" (click)="cerrarDetalle()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
  </div>
  </div>

  <div class="offcanvas-backdrop fade show" *ngIf="verDetalle "></div>
</div>
