.nav-link {
    color:black !important;
}

.nav-link:hover {
    color:#9d2449 !important;
}

.nav-link.active {
    color:#9d2449 !important;
}

p {
    margin: 0px;
}

.card-container {
    min-height: 300px !important;
    max-height: 300px !important;
    transition: box-shadow 0.3s ease; /* Transición para la sombra */
}

.card-container:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Aplica la sombra al pasar el mouse */
}


h1{
    margin-bottom: 0px;
}

label {
  font-weight: bolder;
}

.bajar{
    z-index: 1;
}


.centrar-contenido {
    text-align: center; /* Centrar horizontalmente el contenido */
    display: flex;
    align-items: center;
    justify-content: center;

}
