<div class="row">
    <div class="col-md-12">
        <div class="col-sm-12">
            <div class="card" style="padding: 5px;">
                <div class="card-body row" style="padding: 15px 15px;">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 1"
                                (click)="cambioAccionDetalle(1)">Detalle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 2" (click)="cambioAccionDetalle(2)">
                                Anexos </a>
                        </li>
                    </ul>

                    <div class="row mt-1" *ngIf="accionDetalle == 1">
                        <div class="card-body">
                            <sg-detalle-solicitud [id_solicitud]="id_solicitud"
                                [solicitante]="solicitante"></sg-detalle-solicitud>
                            <sg-detalle-prevalidacion [id_solicitud]="id_solicitud"
                                [solicitante]="solicitante"></sg-detalle-prevalidacion>
                            <sg-detalle-bien [id_solicitud]="id_solicitud"
                                [solicitante]="solicitante"></sg-detalle-bien>
                            <sg-detalle-opinion-tenica [id_solicitud]="id_solicitud"
                                [solicitante]="solicitante"></sg-detalle-opinion-tenica>
                            <sg-detalle-nombramiento [id_solicitud]="id_solicitud"
                                [solicitante]="solicitante"></sg-detalle-nombramiento>
                            <sg-detalle-entrega-bien [id_solicitud]="id_solicitud"
                                [solicitante]="solicitante"></sg-detalle-entrega-bien>
                        </div>
                    </div>

                    <div class="row" class="mt-2" *ngIf="accionDetalle == 2" style="margin-top: 15px;">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
