<div class="row">
  <div class="col-sm-12">
    <h1>Administracion de usuarios</h1>
    <hr class="red">
  </div>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="nombre-01">Nombre:</label>
              <input class="form-control" id="nombre-01" placeholder="Nombre" type="text">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="rfc-01">RFC:</label>
              <input class="form-control" id="rfc-01" placeholder="RFC" type="text">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="correo-01">Correo electronico:</label>
              <input class="form-control" id="correo-01" placeholder="correo" type="text">
            </div>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary mergen-boton-top-25" (click)="busquedaCatalogo(null)" title="Buscar"> <em class="bi bi-search"></em> Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col-sm-2">
    <button class="btn btn-primary" (click)=" abrirModal(contenidoModal,null)" title="Nuevo usuario"> <em class="bi bi-plus-circle-dotted" ></em> Nuevo</button>
  </div>
  <div class="col-sm-10">

  </div>


  <sg-paginador  (cambioRealizado)="busquedaCatalogo($event)" [listaDatos]="listaDatos"></sg-paginador>

  <div class="col-sm-12 scroll-tabla">
      <table class="table table-hover ">
          <thead>
            <tr class="table-secondary">
              <th> Id </th>
              <th> Nombre </th>
              <th> Primer apellido </th>
              <th> Segundo apellido </th>
              <th> Es empleado </th>
              <th> Correo electronico </th>
              <th> CURP </th>
              <th> RFC </th>
              <th> Telefono </th>
              <th> Acciones </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dato of listaDatos">
              <td> {{dato.id}}</td>
              <td> {{dato.nombre}}</td>
              <td> {{dato.primerApellidop}}</td>
              <td> {{dato.segundoApellido}}</td>
              <td> {{dato.esEmpleado? 'SI': 'NO'}}</td>
              <td> {{dato.correo}}</td>
              <td> {{dato.curp}}</td>
              <td> {{dato.rfc}}</td>
              <td> {{dato.telefono}}</td>
              <td>
                <button class="btn btn-secundary" (click)=" abrirModal(contenidoModal,dato)" title="Buscar" style="padding: 0px 12px;"> <em class="bi bi-arrow-repeat"></em> Actualizar</button>
              </td>
            </tr>
          </tbody>
        </table>
  </div>

</div>



<ng-template #contenidoModal let-modal>
  <div class="modal-header">
    <h2>{{tituloModal}}</h2>
  </div>
  <div class="modal-body">
      <div class="row" [formGroup] ="FormularioModal">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="Nombreusuario">Nombre Usuario:</label>
            <input class="form-control" id="Nombreusuario"  [class.is-invalid]="this.FormularioModal.controls['usuario'].status != 'VALID' && this.FormularioModal.controls['usuario'].touched"  placeholder="Nombre Usuario:" type="text" formControlName="usuario">
          </div>
          <div class="texto-invalido " *ngIf="this.FormularioModal.controls['usuario'].status != 'VALID' && this.FormularioModal.controls['usuario'].touched">
             Usuario es requerido
          </div>
        </div>
        <br>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="pas1">Contraseña:</label>
            <input class="form-control" id="pas1" [class.is-invalid]="(this.FormularioModal.controls['contra1'].status != 'VALID' || this.FormularioModal.controls['contra2'].status != 'VALID' ) 
            && this.FormularioModal.controls['contra1'].touched && this.FormularioModal.controls['contra2'].touched" placeholder="Contraseña" type="password"  formControlName="contra1">
          </div>

        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="pas2">Repetir Contraseña:</label>
            <input class="form-control" id="pas2" [class.is-invalid]="(this.FormularioModal.controls['contra1'].status != 'VALID' || this.FormularioModal.controls['contra2'].status != 'VALID' ) 
            && this.FormularioModal.controls['contra1'].touched && this.FormularioModal.controls['contra2'].touched" placeholder="Repetir Contraseña" type="password"  formControlName="contra2">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="texto-invalido" *ngIf="(this.FormularioModal.controls['contra1'].status != 'VALID' || this.FormularioModal.controls['contra2'].status != 'VALID' ) 
          && this.FormularioModal.controls['contra1'].touched && this.FormularioModal.controls['contra2'].touched">
            Los campos de contrasseña son requeridos
         </div>
          <div class="texto-invalido" *ngIf="(this.FormularioModal.controls['contra1'].status != 'VALID' || this.FormularioModal.controls['contra2'].status != 'VALID' ) 
          && this.FormularioModal.controls['contra1'].touched && this.FormularioModal.controls['contra2'].touched && this.FormularioModal.controls['contra1'].value != this.FormularioModal.controls['contra2'].value">
            La contraseña no coincide
          </div>
        </div>
        
        <hr>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="Nombre">Nombre(s):</label>
            <input class="form-control" id="Nombre" [class.is-invalid]="this.FormularioModal.controls['nombre'].status != 'VALID' && this.FormularioModal.controls['nombre'].touched"  placeholder="Nombre(s)" type="text"  formControlName="nombre">
          </div>
          <div class="texto-invalido " *ngIf="this.FormularioModal.controls['nombre'].status != 'VALID' && this.FormularioModal.controls['nombre'].touched">
            Nombre es requerido
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="primerapellido">Primer Apellido:</label>
            <input class="form-control" id="primerapellido" [class.is-invalid]="this.FormularioModal.controls['primerApellido'].status != 'VALID' && this.FormularioModal.controls['primerApellido'].touched"  placeholder="Primer Apellido" type="text"   formControlName="primerApellido" >
          </div>
          <div class="texto-invalido " *ngIf="this.FormularioModal.controls['primerApellido'].status != 'VALID' && this.FormularioModal.controls['primerApellido'].touched">
            Primer apellido es requerido
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="segundopellido">Segundo Apellido:</label>
            <input class="form-control" id="segundopellido" placeholder="Segundo Apellido" type="text"  formControlName="segundoApellido">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="email">Correo electrónico:</label>
            <input class="form-control" id="email" [class.is-invalid]="this.FormularioModal.controls['correo'].status != 'VALID' && this.FormularioModal.controls['correo'].touched"  placeholder="Correo electrónico" type="text" formControlName="correo">
          </div>
          <div class="texto-invalido " *ngIf="this.FormularioModal.controls['correo'].status != 'VALID' && this.FormularioModal.controls['correo'].touched">
            Correo es requerido
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="curp">CURP:</label>
            <input class="form-control" id="curp"  [class.is-invalid]="this.FormularioModal.controls['curp'].status != 'VALID' && this.FormularioModal.controls['curp'].touched"  placeholder="CURP" type="text" formControlName="curp">
          </div>
          <div class="texto-invalido " *ngIf="this.FormularioModal.controls['curp'].status != 'VALID' && this.FormularioModal.controls['curp'].touched">
            CURP es requerido
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="rfc">RFC:</label>
            <input class="form-control" id="rfc"  [class.is-invalid]="this.FormularioModal.controls['rfc'].status != 'VALID' && this.FormularioModal.controls['rfc'].touched"  placeholder="RFC" type="text" formControlName="rfc">
          </div>
          <div class="texto-invalido " *ngIf="this.FormularioModal.controls['rfc'].status != 'VALID' && this.FormularioModal.controls['rfc'].touched">
            RFC es requerido
          </div>
        </div> 
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="telefono">Telefono:</label>
            <input class="form-control" id="telefono"  [class.is-invalid]="this.FormularioModal.controls['telefono'].status != 'VALID' && this.FormularioModal.controls['telefono'].touched"  placeholder="Telefono" type="number" formControlName="telefono" >
          </div>
          <div class="texto-invalido " *ngIf="this.FormularioModal.controls['telefono'].status != 'VALID' && this.FormularioModal.controls['telefono'].touched">
            Telefono es requerido
          </div>
        </div>
        <div class="col-sm-6">
          <label class="control-label" for="telefono" for="select">Area:</label>
          <select class="form-select" id="telefono"  [class.is-invalid]="this.FormularioModal.controls['area'].status != 'VALID' && this.FormularioModal.controls['area'].touched"  formControlName="area">
            <option value="0" selected>Selecciona una area</option>
            <option value="1">DGA</option>
            <option value="2">ADMIN</option>
            <option value="3">DIR GENERAL</option>
          </select>
          <div class="texto-invalido " *ngIf="this.FormularioModal.controls['area'].touched && this.FormularioModal.controls['area'].value == '0'">
            Area es requerido
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"  formControlName="esEmpleado">
            <label class="form-check-label" for="flexSwitchCheckChecked">Es Interno</label>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
        <button class="btn btn-negativo-modal" (click)="cerrarModal()"> Cancelar</button>
        <button class="btn btn-positivo-modal" (click)="cerrarModal()"> Guardar</button>
        
  </div>
</ng-template>



<sg-spinner *ngIf="mostrarSpenner"></sg-spinner>
