.ul-style {
    color: #000 !important;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #d8b133 !important;
    cursor: pointer;
}


.nav-link.active {
    color: #9d2449 !important;

}

.btn-link:hover {
    color: #9d2449
}

.mt-1 {
    margin-top: 15px;
}