<div class="row">
    <div class="col-md-12">
        <div class="col-sm-12">
            <div class="card" style="padding: 5px;">
                <div class="card-body row" style="padding: 15px 15px;">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 1"
                                (click)="cambioAccionDetalle(1)">Detalle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="accionDetalle == 2"
                                (click)="cambioAccionDetalle(2)">Anexos</a>
                        </li>
                    </ul>
                    <div class="row" *ngIf="accionDetalle === 1" style="margin-top: 15px;">
                        <sg-detalle-solicitud [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-solicitud>
                        <sg-detalle-prevalidacion [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-prevalidacion>
                        <sg-detalle-bien [id_solicitud]="id_solicitud" [solicitante]="solicitante"></sg-detalle-bien>
                        <sg-detalle-opinion-tenica [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-opinion-tenica>
                        <sg-detalle-nombramiento [id_solicitud]="id_solicitud"
                            [solicitante]="solicitante"></sg-detalle-nombramiento>
                    </div>
                    <div class="row" class="mt-2" *ngIf="accionDetalle == 2" style="margin-top: 15px;">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-secondary">
                                    <th style="width: 5%;">#</th>
                                    <th style="width: 50%;">Tipo Documento</th>
                                    <th style="width: 45%;" class="valoresCentrados">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Póliza de seguro</td>
                                    <td class="valoresCentrados">
                                        <button class="btn btn-link"
                                            (click)="verDocumento('Póliza de seguro', 'verDocumento')" title="Ver">
                                            <i class="bi bi-eye"></i>
                                        </button>
                                        <button class="btn btn-link" (click)="descargarDocumento('Póliza de seguro')"
                                            title="Descargar">
                                            <i class="bi bi-download"></i>
                                        </button>
                                        <button class="btn btn-link"
                                            (click)="verDocumento('Póliza de seguro', 'cargarDocumento')" title="Cargar">
                                            <i class="bi bi-upload"></i>
                                        </button>
                                        <button class="btn btn-link" (click)="eliminarDocumento('Oficio de acta de entrega recepción')"
                                        title="Eliminar">
                                        <i class="bi bi-x-circle"></i>
                                    </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showObs" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>{{tituloObs}}</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCamvasObs()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <label for="obs" class="form-label">Observaciones</label>
            <textarea class="form-control" id="obs" rows="6"></textarea>
        </div>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal" (click)="cerrarCamvasObsConfirmar()"
                *ngIf="tipoAccion">Aprobar &nbsp; <em class="bi bi-check-lg"></em> </button> &nbsp;
            <button type="button" class="btn btn-positivo-modal" (click)="cerrarCamvasObsConfirmar()"
                *ngIf="!tipoAccion">Rechazar &nbsp; <em class="bi bi-check-lg"></em> </button> &nbsp;
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="showDetalle" ngtabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>{{ (tipoModal === 'detalleBien') ? 'Detalle del bien' : 'Vista previa' }}</h1>

        <div>
            <!-- <button class="btn btn-positivo-modal mr-1" title="Descargar">Descargar
                <i class="bi bi-cloud-download"></i>
            </button> -->
            <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
                (click)="cerrarDetalle()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
        </div>

    </div>
    <div class="offcanvas-body">
        <div class="row" *ngIf="tipoModal === 'verDocumento'">
            <p>Documento</p>

        </div>

        <div class="row" *ngIf="tipoModal === 'cargarDocumento'">
            <div class="col-sm-12">
                <label for="formFile" class="form-label"><i class="bi bi-upload"></i></label>
                <input class="form-control" type="file" id="formFile">

            </div>
        </div>

    </div>

</div>

<div class="offcanvas-backdrop fade show" *ngIf="showDetalle"></div>
<div class="offcanvas-backdrop fade show" *ngIf="showObs "></div>