.form-label {
    font-weight: bold !important;
    margin-bottom: 0;
  }
  
.title {
    background-color: #E2E3E5;
    margin-bottom: 1rem;
}

span {
    text-align: justify;
}

.btn-title {
    color: #610f28;
}

.btn-title:hover {
    color:#b38e5d;
    font-weight: 500; 
}

.btn-title:active {
    color: #610f28;
}

.subtitle {
    background-color: #b38e5d;
}

h5 {
    margin-bottom: 0;
}

.bajar{
    z-index: 1;
}


.nav-link.active {
    color: #9d2449 !important;

}