
<div class="col-sm-12">
    <div class="row">
        <div class="col-md-12" style="display: flex; flex-direction: column;">
            <div class="input-group">
                <button type="button" class="btn  btn-negativo-modal" (click)="generarOficio()">Generar oficio</button>
            </div>
        </div>
    </div><br />
    <div class="row">           
        <div class="col-md-6">
            <label for="folio" class="form-label">Documentación</label>
        </div>
        <div class="col-md-6" style="display: flex; flex-direction: column;">
            <div class="input-group">
                <button type="button" class="btn  btn-negativo-modal" (click)="agregarDocumento()">Agregar</button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <table class="table table-striped">
            <thead>
                <tr>
                <th>Anexos</th>
                <th>Acciones</th>                
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataAnexos">
                <td>{{item.name}}</td>
                <td>
                    <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                        data-placement="top" title="Vista previa"
                        (click)="openVistaPreviaAnexo('anexo', 'verDocumento')">
                        <em style="color: blue;" class="bi bi-eye"></em>
                    </button>
                    <button type="button" class="btn btn-link2" style="padding: 3px;" data-toggle="tooltip"
                        data-placement="top" title="Descargar"
                        (click)="descargarAnexo()">
                        <em style="color: blue;" class="bi bi-box-arrow-in-down"></em>
                    </button>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
            
    <div class="row">
        <div class="col-sm-12">
            <label for="obs" class="form-label">Observaciones</label>
            <textarea class="form-control" id="obs" rows="6"></textarea>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showAgregarDocumento" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Cargar Documento</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('documento')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="card-body row" style="padding: 15px 15px;">
                    <div class="col-md-6">
                        <label for="documento" class="control-label">Cargar Documento</label>
                        <div class="input-group">
                            <label for="documento" class="control-label" style="display: none" >Cargar Documento</label>
                            <input class="form-control" type="text" placeholder="Ubicación del documento" name="documento" id="documento" size="25" readonly="readonly" value="{{documentoFileName}}" disabled>
                            <label for="fileDocumento" class="control-label" style="display: none" >Cargar Documento</label>
                            <input type="file" style="display: none" id="fileDocumento" accept=".pdf" (change)="onDocumentoFileChange($event)" formControlName="key">
                            <span class="input-group-btn" style="vertical-align: bottom">
                            <button type="button" class="btn btn-secundary" id="btnDocumento" name="btnDocumento" onclick="document.getElementById('fileDocumento').click();">Buscar</button>
                            </span>
                        </div> 
                    </div>

                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Previsualizar:</label>
                        <div class="input-group">
                            <button class="btn btn-link" (click)="previsualizarDocumento()" title="Ver">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">
            <div class="text-end">
                <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="guardarDocumento()">
                    Guardar
                  </button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showGenerarOficio" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Generar Oficio</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('oficio')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-md-12">
            <div class="col-sm-12">
                <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" [class.active]="accionDetalle == 1"
                                    (click)="cambioAccionDetalle(1)">Oficio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [class.active]="accionDetalle == 2" (click)="cambioAccionDetalle(2)">
                                    Recordatorio </a>
                            </li>
                        </ul>

                        <div class="row" *ngIf="accionDetalle == 1" style="margin-top: 15px;">
                            <div class="col-sm-12">
                                <label for="detalleOficio" class="form-label">Detalle Oficio</label>
                                <textarea class="form-control" id="detalleOficio" rows="6"></textarea>
                            </div>
                        </div>

                        <div class="row" *ngIf="accionDetalle == 2" style="margin-top: 15px;">
                            <div class="col-sm-12">
                                <label for="detalleRecordatorio" class="form-label">Detalle Recordatorio</label>
                                <textarea class="form-control" id="detalleRecordatorio" rows="6"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          </div>
    </div>

    <div class="offcanvas-footer">    
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="guardarOficio()">
                Guardar
              </button>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasTerciario" [class.show]="prevDocumento" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Previsualización del Documento</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('prevDocumento')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <!-- <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">

        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="prevAnexo" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Previsualización del Anexo</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCanvas('prevAnexo')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-sm-12">
            <div class="col-sm-12 centrar-contenido">
                <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
                    style="width: 700px; height: 100vh;"></pdf-viewer>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="text-end">

        </div>
    </div>
</div>