.btn-input {
    margin: 0px;
}

.btn-mt {
    margin-top: 1rem;
}

.nav-link {
    color: black !important;
}
  
.nav-link:hover {
    color: #d8b133 !important;
    cursor: pointer;
}


.nav-link.active {
    color: #9d2449 !important;
  
}