<div class="row">
    <div class="col-sm-12">
        <h1>Propuestas de pago</h1>
        <hr class="red">
    </div>

    <div class="col-sm-12" *ngIf="selectPerfil != 3">
        <div class="card">
            <div class="card-body row" style="padding: 0px 5px;">
                <div class="col-sm-9 text-end">
                    <button class="btn btn-primary" title="Agregar" style="margin-top: 32px;"  
                        (click)="agregarArchivo(1)">
                        <em class="bi bi-plus-lg"></em> 
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!----Busqueda---->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body row" style="padding: 0px 5px;">
                <div class="col-sm-3">
                    <label for="fInicio" class="form-label">Fecha inicio</label>
                    <input type="date" class="form-control" id="fInicio" [(ngModel)]="fInicio" (change)="comparaFechas()">
                  </div>
                  <div class="col-sm-3">
                    <label for="fFin" class="form-label">Fecha fin</label>
                    <input type="date" class="form-control" id="fFin" [(ngModel)]="fFin"  (change)="comparaFechas()">
                  </div>
                <div class="col-sm-3">
                    <label for="busqueda" class="form-label">Búsqueda</label>
                    <input type="text" class="form-control" id="busqueda" [(ngModel)]="busqueda"  placeholder="Búsqueda">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" title="buscar" style="margin-top: 30px;"
                        (click)="buscarPropuesta()">
                        <em class="bi bi-search"></em>
                    </button>
                </div>          
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <ul class="nav nav-underline">
            <li class="nav-item" *ngFor="let item of listadoPropuestas" (click)="cambioSeleccion(item.indice)"
                [title]="item.title">
                <a class="nav-link " [class.active]="item.activo" aria-current="page">{{item.titulo}}
                    <span class="badge text-bg-secondary">{{item.noReg}}</span></a>
            </li>
        </ul>
    </div>
    <hr>
    <div class="col-sm-12" *ngIf="tipoVista">
        <div class="col-sm-12 scroll-tabla" data-testid="edosTable">
            <table class="table table-hover">
                <thead>
                    <tr class="table-secondary">
                        <th style="width: 40%;">Id propuesta</th>
                        <th style="width: 40%;">Acreditado</th>
                        <th style="width: 40%;">Fecha recepción</th>
                        <th style="width: 40%;">Fecha propuesta</th>
                        <th style="width: 40%;">Tipo propuesta</th>
                        <th style="width: 40%;">Monto MXN</th>
                        <th style="width: 40%;">Monto USD</th>
                        <th style="width: 40%;">Propuesta dación</th>
                        <th style="width: 20%;">Pagos</th>
                        <th style="width: 40%;">Plazo solicitado</th>
                        <th style="width: 20%;">Capturista</th>
                        <th style="width: 40%;">Fecha captura</th>
                        <th style="width: 40%;">Id responsable caso</th>
                        <th style="width: 40%;">No. volante</th>
                        <th style="width: 10%;">Estatus</th>
                        <th style="width: 30%;">Tiempo atención</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dato of listaDatos" (click)="abrirCamvasPrincipal(dato)">
                        <td>{{ dato.IdPropuesta }}</td>
                        <td>{{ dato.RemitentePro }}</td>
                        <td>{{ dato.fechaRecepcion }}</td>
                        <td>{{ dato.fechaPropuesta }}</td>
                        <td>{{ dato.tipoPropuesta }}</td>
                        <td>{{ dato.montoMXN }}</td>
                        <td>{{ dato.montoUSD }}</td>
                        <td>{{ dato.propuestaDACION }}</td>
                        <td>{{ dato.pagos }}</td>
                        <td>{{ dato.plazaSoli }}</td>
                        <td>{{ dato.capturista }}</td>
                        <td>{{ dato.fechaCaptura }}</td>
                        <td>{{ dato.idResponsable }}</td>
                        <td>{{ dato.NumVolante }}</td>
                        <td>{{ dato.estatus}}</td>
                        <td id="colores" [ngStyle]="{'background-color':colorVentana(dato.tiempoAtencion)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end canvasPrimario" [class.show]="showCamvasPrincipal" ngtabindex="-1"
    id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>{{tituloSeleccionado}}</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="cerrarCamvasPrincipal()"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <sg-validacionPro *ngIf="Seleccionado == 1" (respuestaCofirmarModal)="respuestaCofirmarModal($event)"></sg-validacionPro>
        <sg-siaraf *ngIf="Seleccionado == 2" ></sg-siaraf>
        <sg-saedg *ngIf="Seleccionado == 3" ></sg-saedg>
        <sg-juridico *ngIf="Seleccionado === 4" (respuestaCofirmarModal)="respuestaCofirmarModal($event)"></sg-juridico>
        <sg-capa *ngIf="Seleccionado == 5" (respuestaCofirmarModal)="respuestaCofirmarModal($event)"></sg-capa>
        <sg-siab *ngIf="Seleccionado == 6"></sg-siab>
        <sg-analisis *ngIf="Seleccionado == 7"></sg-analisis>
        <sg-coper *ngIf="Seleccionado == 8"></sg-coper>
        <sg-acuerdos *ngIf="Seleccionado == 9" (respuestaCofirmarModal)="respuestaCofirmarModal($event)"></sg-acuerdos>
    </div>
    <div class="offcanvas-footer">
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal"  (click)="openOficio()" *ngIf="Seleccionado == 1">Generar oficio&nbsp;<em class="bi bi-pencil"></em> </button> &nbsp;&nbsp;

            <button type="button" class="btn btn-neutral-modal"  (click)="editar()" *ngIf="Seleccionado == 1">Editar&nbsp;<em class="bi bi-pencil"></em> </button> &nbsp;&nbsp;

            <button type="button" class="btn btn-success"  (click)="confirmarCOPER()" *ngIf="Seleccionado == 9">Completar&nbsp;<em class="bi bi-check-circle"></em> </button> &nbsp;&nbsp;

            <button type="button" class="btn btn-warning"  (click)="confimarPropuesta()" *ngIf="Seleccionado == 1">Guardar&nbsp;<em class="bi bi-save"></em> </button> &nbsp;&nbsp;

            <button type="button" class="btn btn-success"  (click)="confimarPropuesta()" *ngIf="Seleccionado == 2">Confirmar&nbsp;<em class="bi bi-save"></em> </button> &nbsp;&nbsp;

            <button type="button" class="btn btn-success"  (click)="completar('detalle')" *ngIf="Seleccionado != 1 && Seleccionado != 2 && Seleccionado != 3 && Seleccionado != 6 && Seleccionado != 7 && Seleccionado != 8 && Seleccionado != 9">Completar&nbsp;<em class="bi bi-pencil"></em> </button> &nbsp;&nbsp; 

            <button type="button" class="btn btn-warning" (click)="respuestaCofirmarModal(true)" *ngIf=" Seleccionado != 1 && Seleccionado != 7">Guardar&nbsp;<em class="bi bi-save"></em></button>&nbsp;  
            
            <button type="button" class="btn btn-neutral-modal"  (click)="capturar('abrir')" *ngIf="Seleccionado != 1 && Seleccionado != 2 && Seleccionado != 3 && Seleccionado != 6 && Seleccionado != 7 && Seleccionado != 8 && Seleccionado != 9">Capturar&nbsp;<em class="bi bi-pencil"></em> </button> &nbsp;&nbsp;         
        </div>
    </div>
</div>
<div class="offcanvas-backdrop fade show" *ngIf="showCamvasPrincipal"></div>

<!-- OffCanvas Agregar Archivo -->
<div class="offcanvas offcanvas-end canvasPrimario" [class.show]="showAgregarArchivo" [class.offcanvas-bajar]=""
  ngtabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h1>Nueva Propuesta</h1>
    <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
      (click)="cerrarOffCanvas(1)"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
  </div>
  <div class="offcanvas-body">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <label for="seccionAdd" class="control-label"></label>
                    <select class="form-select" aria-label="Default select example" id="seccionAdd">
                        <option>Selecciona acreditado</option>
                        <option >001 Juan Pérez </option>
                        <option >002 Cristina León </option>
                    </select>
                </div>
                <div class="col-sm-6">  
                    <label for="seccionAdd" class="control-label">Pago/Compra</label>
                    <select class="form-select" aria-label="Default select example" id="seccionAdd">
                        <option selected></option>
                        <option value="1">Pago</option>
                        <option value="2">Compra</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="fecharecepcion" class="control-label">Fecha de recepción en el INDEP</label>
                    <input type="text" class="form-control" id="fecharecepcion" placeholder="Fecha de recepción">
                </div>
                <div class="col-sm-6">
                    <label for="remitente" class="control-label">Remitente de propuesta</label>
                    <input type="text" class="form-control" id="remitente" placeholder="Remitente">
                </div>
                <div class="col-sm-6">
                    <label for="fecharecepcion" class="control-label">Fecha recepción de coordinación de recuperación de cartera y activos</label>
                    <input type="text" class="form-control" id="fecharecepcion" placeholder="Fecha de recepción">
                </div>
                <div class="col-sm-6">
                    <label for="montoletraMXN" class="control-label">Monto de propuesta con letra pesos</label>
                    <input type="text" class="form-control" id="montoletraMXN" placeholder="Monto letra">
                </div>
                <div class="col-sm-6">
                    <label for="fechaDocumento" class="control-label">Fecha documento</label>
                    <input type="text" class="form-control" id="fechaDocumento" placeholder="Fecha de documento">
                </div>
                <div class="col-sm-6">
                    <label for="montoletraUSD" class="control-label">Monto de propuesta con letra dólares</label>
                    <input type="text" class="form-control" id="montoletraUSD" placeholder="Monto letra">
                </div>
                <div class="col-sm-6">
                    <label for="tipocartera" class="control-label">Tipo cartera automático del acreditado</label>
                    <select class="form-select" aria-label="Default select example" id="tipoCartera">
                        <option selected></option>
                        <option value="1">Crediticia de consumo</option>
                        <option value="2">Crediticia comercial</option>
                        <option value="3">Crediticia de vivienda</option>
                    </select>
                    
                </div>
                
                <div class="col-sm-6">
                    <label for="plazo" class="control-label">Plazo solicitado</label>
                    <input type="text" class="form-control" id="plazo" placeholder="Plazo solicitado">
                </div>

                <div class="col-sm-6">
                    <label for="montoMXN" class="control-label">Monto de propuesta pesos</label>
                    <input type="text" class="form-control" id="montoMXN" placeholder="Monto MXN">
                </div>

                <div class="col-sm-6">
                    <label for="volante" class="control-label">Número de volante</label>
                    <input type="text" class="form-control" id="volante" placeholder="Número volante">
                </div>

                <div class="col-sm-6">
                    <label for="montoUSD" class="control-label">Monto de propuesta dólares</label>
                    <input type="text" class="form-control" id="montoUSD" placeholder="Monto USD">
                </div>

                <div class="col-sm-6">
                    <label for="comentarios" class="control-label">Comentarios</label>
                    <input type="text" class="form-control" id="comentarios" placeholder="Comentarios">
                </div>
                
                <div class="col-sm-6">
                    <label for="subseccionAdd" class="control-label">Asignación</label>
                    <select class="form-select" aria-label="Default select example" id="subseccionAdd">
                        <option></option>
                        <option selected value="1">Roberto</option>
                    </select>
                </div>

                <div class="col-sm-6">
                    <label for="capturo" class="form-label">Capturó:</label>
                    <input type="text" class="form-control" id="capturo" placeholder="Andrea Villavicencio" disabled> 
                </div>
                <div class="col-sm-6">
                    <label for="fecha" class="form-label">Fecha:</label>
                    <input type="text" class="form-control" id="fecha" placeholder="22/02/2023" disabled> 
                </div>
                <div class="col-sm-6">
                    <label for="hora" class="form-label">Hora:</label>
                    <input type="text" class="form-control" id="hora" placeholder="12:23:34" disabled> 
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="offcanvas-footer">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="btn btn-neutral-modal boton-derecho" (click)="cerrarOffCanvas(1)">
          Cancelar
        </button>
        <button type="button" class="btn btn-negativo-modal boton-derecho" (click)="guadarArchivo()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end canvasSecundario" [class.show]="showCapturaSeguimiento" ngtabindex="-1"
    id="offcanvasDocumento" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1>Capturar</h1>
        <button type="button" class="btn btn-negativo-modal" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="capturar('cerrar')"> Cerrar&nbsp;<em class="bi bi-x-octagon"></em></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-md-12">
            <div class="col-sm-12">
                <div class="card" style="padding: 5px;">
                    <div class="card-body row" style="padding: 15px 15px;">

                        <div class="row" *ngIf="Seleccionado == 4" style="margin-top: 15px;">
                            <div class="col-sm-12">
                                <label for="observaciones" class="form-label">Observaciones</label>
                                <textarea class="form-control" id="observaciones" rows="6"></textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="cedula" class="control-label">Cargar cédula</label>
                            <div class="input-group">
                                <label for="cedula" class="control-label" style="display: none" >Cargar cédula</label>
                                <input class="form-control" type="text" placeholder="Ubicación de la cédula" name="cedula" id="cedula" size="25" readonly="readonly" value="{{cedulaFileName}}" disabled>
                                <label for="fileCedula" class="control-label" style="display: none" >Cargar cédula</label>
                                <input type="file" style="display: none" id="fileCedula" accept=".pdf" (change)="onCedulaFileChange($event)" formControlName="key">
                                <span class="input-group-btn" style="vertical-align: bottom">
                                <button type="button" class="btn btn-secundary" id="btnCedula" name="btnCedula" onclick="document.getElementById('fileCedula').click();">Buscar</button>
                                </span>
                            </div> 
                        </div>

                        <div class="col-md-12">
                            <label for="otro" class="control-label">Cargar Otro</label>
                            <div class="input-group">
                                <label for="otro" class="control-label" style="display: none" >Cargar otro</label>
                                <input class="form-control" type="text" placeholder="Ubicación de otro" name="otro" id="otro" size="25" readonly="readonly" value="{{otroFileName}}" disabled>
                                <label for="fileOtro" class="control-label" style="display: none" >Cargar otro</label>
                                <input type="file" style="display: none" id="fileOtro" accept=".pdf" (change)="onOtroFileChange($event)" formControlName="key">
                                <span class="input-group-btn" style="vertical-align: bottom">
                                <button type="button" class="btn btn-secundary" id="btnOtro" name="btnOtro" onclick="document.getElementById('fileOtro').click();">Buscar</button>
                                </span>
                            </div> 
                        </div>

                        <div class="col-md-12" style="margin-top: 50px;" >
                        
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="P100" id="demandadoActivo">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Demandado-Activo
                                </label>
                            </div>                
        
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="P100" id="noDemandado">
                                <label class="form-check-label" for="flexCheckDefault">
                                    No-Demandado
                                </label>
                            </div>
                        
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="P100" id="demandadoInactivo">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Demandado-Inactivo
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>

    <div class="offcanvas-footer">       
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="capturar('guardar')">
                Guardar
              </button>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-positivo-modal boton-derecho" (click)="completar('captura')">
                Completar
              </button>
        </div>
    </div>
</div>



